@using Nidan.Extensions
@model Nidan.Models.CandidateFinalPlacementViewModel
@{
    ViewBag.Title = "Create";
}

@if (!Model.CandidateFinalPlacement.IsFinalPlacementDone)
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Create Candidate Final Placement<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(model => model.CandidateFinalPlacement.AdmissionId)
                        @Html.HiddenFor(model => model.CandidateFinalPlacement.BatchId)
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                        @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                    </div>
                                </div>
                            }
                            @Html.Partial("_CandidateFinalPlacement", Model)
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button type="submit" ng-disabled="disabled" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.CandidateFinalPlacement.IsFinalPlacementDone)
{
    <div ng-controller="PlacementDocumentController as model" ng-init="model.initialise(@Model.CandidateFinalPlacement.AdmissionId)">
        @Html.Partial("_PlacementDocument")
    </div>
}

@*Placement List*@
<div class="row" ng-controller="CandidateFinalPlacementController as model" ng-init="model.retrieveCandidateFinalPlacementByAdmissionId(@Model.AdmissionId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                <tr role="row">
                                    @if (User.IsInAnyRoles("SuperAdmin"))
                                    {
                                        <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                    }
                                    <th ng-click="model.order('CandidateName')" ng-class="model.orderClass('CandidateName')">Candidate</th>
                                    <th ng-click="model.order('CompanyBranchName')" ng-class="model.orderClass('CompanyBranchName')">Company</th>
                                    <th ng-click="model.order('InterviewDate')" ng-class="model.orderClass('InterviewDate')">Interview Date</th>
                                    <th ng-click="model.order('PlacementStatusName')" ng-class="model.orderClass('PlacementStatusName')">Status</th>
                                    <th ng-click="model.order('IsFinalPlacementDone')" ng-class="model.orderClass('IsFinalPlacementDone')">Is Final Placement</th>
                                    <th ng-click="model.order('Remark')" ng-class="model.orderClass('Remark')">Remark</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="candidateFinalPlacement in model.candidateFinalPlacements" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                    @if (User.IsInAnyRoles("SuperAdmin"))
                                    {
                                        <td><span ng-bind="candidateFinalPlacement.CentreName"></span></td>
                                    }
                                    <td><span ng-bind="candidateFinalPlacement.CandidateName"></span></td>
                                    <td><span ng-bind="candidateFinalPlacement.CompanyBranchName"></span></td>
                                    <td><span ng-bind="candidateFinalPlacement.InterviewDate|date : format : shortDate"></span></td>
                                    <td><span ng-bind="candidateFinalPlacement.PlacementStatusName"></span></td>
                                    <td>
                                        <span ng-if="candidateFinalPlacement.IsFinalPlacementDone==false">No</span>
                                        <span ng-if="candidateFinalPlacement.IsFinalPlacementDone==true">Yes</span>
                                    </td>
                                    <td><span ng-bind="candidateFinalPlacement.Remark"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label ng-bind="model.searchMessage"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#CandidateFinalPlacement_Remark').val("");
        var daterangepickerOptions = {
            autoApply: true,
            singleDatePicker: true,
            showDropdowns: true,
            showCustomRangeLabel: false,
            opens: 'left',
            minDate: moment().subtract('2', 'days').format('DD MMMM YYYY'),
            daysOfTheWeek: ['M', 'T', 'W', 'T', 'F'],
            locale: {
                "format": "DD MMMM YYYY"
            }
        };
        moment.weekdays(true);

        jQuery(function () {
            jQuery(".date").daterangepicker(daterangepickerOptions);
            $('#CandidateFinalPlacement_InterviewDate').val(moment().format('DD MMMM YYYY'));
            $(".date")
                .on('apply.daterangepicker',
                    function (ev, picker) {
                        $(this).val(picker.startDate.format('DD MMMM YYYY'));
                    });
        });


    </script>
}

