@model Nidan.Models.CounsellingViewModel

@{
    ViewBag.Title = "Create Counselling";
}

<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><button type="button" class="btn btn-round btn-info btn-lg"><i class="fa fa-user"></i> &nbsp;@string.Format("{0} {1} {2} {3}", @Model.Enquiry.Title, @Model.Enquiry.FirstName, @Model.Enquiry.MiddleName, @Model.Enquiry.LastName)</button>  Enquiry Details<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @*@Html.HiddenFor(model => model.Counselling.CentreId)
                            @Html.HiddenFor(model => model.Counselling.Enquiry.Title)*@
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                        @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                    </div>
                                </div>

                            }
                            @Html.HiddenFor(model => model.Counselling.Enquiry.Title)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.Address1)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.GuardianName)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.HowDidYouKnowAboutId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.BatchTimePreferId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.CasteCategoryId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.CentreId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.ConversionProspect)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.DistrictId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.EducationalQualificationId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.EnquiryId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.EnquiryTypeId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.OccupationId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.OrganisationId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.ReligionId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.SchemeId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.SectorId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.StudentTypeId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.StateId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.TalukaId)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.PreferredMonthForJoining)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.FirstName)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.MiddleName)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.LastName)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.Mobile)
                            @Html.HiddenFor(model => Model.Counselling.EnquiryId)
                            @Html.HiddenFor(model => model.Counselling.Enquiry.EmailId)
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-dark">Mobile</button>
                                            </span>
                                            <input type="text" disabled="disabled" value="@Model.Enquiry.Mobile" class="form-control col-lg-4">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-dark">Email</button>
                                            </span>
                                            <input type="text" disabled="disabled" value="@Model.Enquiry.EmailId" class="form-control col-lg-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-dark">Interested Scheme</button>
                                            </span>
                                            <input type="text" disabled="disabled" value="@Model.Enquiry.Sector.Name" class="form-control col-lg-4">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-dark">Interested Sector</button>
                                            </span>
                                            <input type="text" disabled="disabled" value="@Model.Enquiry.Sector.Name" class="form-control col-lg-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-dark">Interested Course(s)</button>
                                            </span>
                                            @foreach (var course in Model.EnquiryCourses)
                                            {
                                                <input type="text" disabled="disabled" value="@course.Text" class="form-control col-lg-4">
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (Model.Enquiry.OtherInterestedCourse != null)
                                {
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Other Interested Course</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.Enquiry.OtherInterestedCourse" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Create Counselling <small></small></h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Counselling.CourseOfferedId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.DropDownListFor(model => model.Counselling.CourseOfferedId, Model.Courses, "Select Course", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Counselling.CourseOfferedId, "", new { @class = "help-block" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Counselling.PreferTiming, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.TextBoxFor(model => model.Counselling.PreferTiming, new { @class = "form-control col-md-7 col-xs-12" })
                                                        @Html.ValidationMessageFor(model => model.Counselling.PreferTiming, "", new { @class = "help-block" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Psychometric Test Done</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div id="psychomatricTest" class="btn-group" data-toggle="buttons">
                                                            <label id="psychomatricTestYes" class='@(Model.Counselling.PsychomatricTest == "Yes" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                @Html.RadioButtonFor(model => model.Counselling.PsychomatricTest, "Yes")
                                                                <input type="radio" name="psychomatricTest" value="Yes" data-parsley-multiple="gender"> &nbsp; Yes &nbsp;
                                                            </label>
                                                            <label id="psychomatricTestNo" class='@(Model.Counselling.PsychomatricTest == "No" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                @Html.RadioButtonFor(model => model.Counselling.PsychomatricTest, "No")
                                                                <input type="radio" name="psychomatricTest" value="No" data-parsley-multiple="gender"> No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Counselling.ConversionProspect, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.DropDownListFor(model => model.Counselling.ConversionProspect, Model.ConversionProspectList, null, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Counselling.ConversionProspect, "", new { @class = "help-block" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Counselling.Remarks, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.EditorFor(model => model.Counselling.Remarks, new { @class = "form-control col-md-7 col-xs-12" })
                                                        @Html.ValidationMessageFor(model => model.Counselling.Remarks, "", new { @class = "help-block" })
                                                    </div>
                                                </div>

                                                @*<div class="form-group">
                                                        @Html.LabelFor(model => model.Counselling.RemarkByBranchManager, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            @Html.EditorFor(model => model.Counselling.RemarkByBranchManager, new { @class = "form-control col-md-7 col-xs-12" })
                                                            @Html.ValidationMessageFor(model => model.Counselling.RemarkByBranchManager, "", new { @class = "help-block" })
                                                        </div>
                                                    </div>*@


                                                @*@Html.Partial("_Counselling", Model)*@

                                                <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-3">
                                                    <div class="form-group">
                                                        <div class="pull-right">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                            @*<a href="@Url.Action("Create", "RegistrationPaymentReceipt", new { id = Model.Counselling.CounsellingId })" class="btn btn-primary" role="button">
                                                                    Create Registration&nbsp;<span class="fa fa-chevron-right"></span>
                                                                </a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

        @*<div id="quickActions" class="col-md-3 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quick Actions<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (ViewContext.ViewData.ModelState.Any(x => x.Key == "EntitlementError"))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                            </div>
                        </div>
                    }
                    <button type="button" class="btn btn-lg btn-success col-md-10 col-sm-12" ng-click="model.removeError()" data-toggle="modal" data-target="#counsellingDocumentModal">Upload Document</button>
                    @*<a id="viewDocument" ng-click="model.retrieveStudentDocuments('@Model.Counselling.Enquiry.StudentCode','psychometric')" class="btn btn-lg btn-success col-md-10 col-sm-12">View Document</a>*@
        @*</div>
                </div>
            </div>*@
    </div>

    <div ng-controller="StudentCounsellingDocumentController as model" ng-init="model.initialise(@Model.Counselling.Enquiry.StudentCode)">
        @Html.Partial("_Document")
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts
{
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
    </script>
}