@model Nidan.Models.CounsellingViewModel

@{
    ViewBag.Title = "Edit Counselling";
}
<div ng-controller="DocumentController as model">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@*@Model.Counselling.CandidateName*@<small>Edit Counselling</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                    @Html.HiddenFor(model => model.Counselling.CentreId)
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                        @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                    </div>
                                </div>

                            }
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.Mobile)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.Address)
                            @Html.HiddenFor(model => Model.Counselling.Enquiry.Gender)
                            @Html.HiddenFor(model => Model.Counselling.CentreId)
                            
                            @Html.Partial("_Counselling", Model)
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Close</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div id="close" class="btn-group" data-toggle="buttons">
                                        <label id="yesRadioButton" class='@(Model.Counselling.Close == "Yes" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            @Html.RadioButtonFor(model => model.Counselling.Close, "Yes")
                                            <input type="radio" name="close" value="Yes" data-parsley-multiple="gender"> &nbsp; Yes &nbsp;
                                        </label>
                                        <label id="noRadioButton" class='@(Model.Counselling.Close == "No" || Model.Counselling.Close==null? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            @Html.RadioButtonFor(model => model.Counselling.Close, "No")
                                            <input type="radio" name="close" value="No" data-parsley-multiple="gender"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group closing-remarks-textbox">
                                @Html.LabelFor(model => model.Counselling.ClosingRemark, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Html.TextBoxFor(model => model.Counselling.ClosingRemark, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Counselling.ClosingRemark, "", new { @class = "help-block" })
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="quickActions" class="col-md-3 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quick Actions<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (ViewContext.ViewData.ModelState.Any(x => x.Key == "EntitlementError"))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                            </div>
                        </div>
                    }
                    <a id="uploadDocument" class="btn btn-lg btn-success col-md-10 col-sm-12">Upload Document</a>
                    <a  id="viewDocument" ng-click="model.retrieveStudentDocuments('@Model.Counselling.Enquiry.StudentCode','psychometric')"  class="btn btn-lg btn-success col-md-10 col-sm-12">View Document</a>
                </div>
            </div>
        </div>
    </div>

    <div id="documentDiv">
        @Html.Partial("_Document");
    </div>
</div>


<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        $(function () {

            if ($('#Caounselling_Close').is(':checked')) { $('.closing-remarks-textbox').hide(); }
            else { $('.closing-remarks-textbox').show(); }

            $('#yesRadioButton').click(function () {
                $('.closing-remarks-textbox').show();
            });

            $('#noRadioButton').click(function () {
                $('.closing-remarks-textbox').hide();
            });

            $('#publicHolidayErrorSummary').hide();
            $('#documentDiv').hide();
            //var counsellingPsychomatricTest= $("input[name='Counselling.PsychomatricTest']:checked").val();
            //if (counsellingPsychomatricTest == "No") {
            //    $('#quickActions').hide();
            //} else {
            //    $('#quickActions').show();
            //}
            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            //$('#psychomatricTestYes').click(function () {
            //    $('#quickActions').show();
            //});

            //$('#psychomatricTestNo').click(function () {
            //    $('#quickActions').hide();
            //});

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('#FollowUpDate').val(moment().format('DD MMMM YYYY'));
                $(".generated .date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });

            $("#uploadDocument").click(function() {
                window.location.href="/Counselling/Upload/"+@Model.Counselling.EnquiryId;
            });
        });
    </script>
}