@model Nidan.Models.CounsellingViewModel

@{
    ViewBag.Title = string.Format("View Counselling ({0})", Model.CounsellingDataGrid.CandidateName);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <button type="button" class="btn btn-success btn-lg"><i class="fa fa-user"></i> &nbsp;@Model.CounsellingDataGrid.CandidateName</button><small>View Details</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <i class="fa fa-bars"></i> Counselling Details
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox"></ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Course Offered</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CourseOffered" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Counselling Date</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CreatedDate.ToShortDateString()" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Counselling By</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CounselledBy" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Prefer Timing</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.PreferTiming" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Psychomatric Test Done</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.PsychomatricTest" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Conversion Prospect</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.ConversionProspect" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">CounsellingClosed</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.Close" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>