@using System.Globalization
@model Nidan.Models.CounsellingViewModel

@{
    ViewBag.Title = string.Format("View Counselling ({0})", Model.CounsellingDataGrid.CandidateName);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <button type="button" class="btn btn-round btn-info btn-lg"><i class="fa fa-user"></i> &nbsp;@string.Format("{0}", Model.CounsellingDataGrid.CandidateName)</button><small> View Counselling </small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <i class="fa fa-bars"></i> Candidate Basic Details
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox"></ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Counselling Date</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CreatedDate.ToShortDateString()" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Counselling By</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CreatedByName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Lead Source</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.LeadSourceName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Mobile</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.Mobile" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">EmailId</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.EmailId" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Guardian Name</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.GuardianName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Occupation</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.OccupationName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Guardian Contact</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.GuardianContactNo" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <i class="fa fa-bars"></i> Academic Info
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox"></ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Qualification</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.QualificationName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Year of PassOut</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.YearOfPassOut" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Marks</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.Marks" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Appearing Qualification</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.AppearingQualification" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <i class="fa fa-bars"></i> Area of Interest
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox"></ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Scheme</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.SchemeName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Sector</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.SectorName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Course</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.CourseOffered" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Batch Time Prefer</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.BatchTimePreferName" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Preferred joining Month</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.CounsellingDataGrid.PreferredMonthForJoining)" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">PreTraining Status</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.PreTrainingStatus" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Year Of Experience</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.YearOfExperience" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Employment Status</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.EmploymentStatus" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Employer Detail</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@string.Format("{0} {1}",Model.CounsellingDataGrid.EmployerName,Model.CounsellingDataGrid.EmployerContactNo)" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Employer Address</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.EmployerAddress" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Annual Income</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.AnnualIncome" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Psychomatric Test</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.PsychomatricTest" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Conversion Prospect</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.ConversionProspect" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Remarks</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.CounsellingDataGrid.Remarks" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div ng-controller="StudentCounsellingDocumentController as model" ng-init="model.initialise(@Model.Counselling.Enquiry.StudentCode)">
        @Html.Partial("_Document")
    </div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>