@model Nidan.Models.PersonnelProfileViewModel
@{
    ViewBag.Title = string.Format("Edit Personnel ({0})", Model.Personnel.Fullname);
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@Model.Personnel.Fullname<small>Edit personnel</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => Model.Personnel.PersonnelId)
                        @Html.Partial("_PersonnelProfile", Model)
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Profile", "Personnel", new { id = Model.Personnel.PersonnelId })" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to profile
    </a>
</div>

@section scripts {
    <script>
        jQuery(function () {
            jQuery(".date").daterangepicker({
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                startDate: '@Model.Personnel.DOB.ToString("dd/MMMM/yyyy")',
                locale: {
                    format: 'DD MMMM YYYY'
                }
            });
        });
    </script>
}