@model Nidan.Models.AdmissionViewModel
<br />
@Html.HiddenFor(m => m.Batch.BatchId)
@Html.HiddenFor(m => m.BatchDay.BatchDayId)
@Html.HiddenFor(m => m.Course.CourseId)
@Html.HiddenFor(m => m.CourseInstallment.CourseInstallmentId)

@*-----------------------------------------Payment Details-----------------------------------------*@

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-bars"></i> Admission Payment Details
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="PaymentType">
            <div class="form-group" id="paymentMethodDiv">
                @Html.Label("", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-7 col-sm-3 col-xs-12">
                    <label class="btn btn-info pull-right col-md-6">
                        @Html.RadioButtonFor(model => model.Admission.Registration.CandidateInstallment.PaymentMethod, "MonthlyInstallment", new { @class = "col-md-2 col-xs-12", autocomplete = "off", id = "Admission_Registration_CandidateInstallment_PaymentMethodMonthly" })
                        Pay Fee In Installments
                    </label>
                    <label class="btn btn-info pull-right col-md-6">
                        @Html.RadioButtonFor(model => model.Admission.Registration.CandidateInstallment.PaymentMethod, "LumpsumAmount", new { @class = "col-md-2 col-xs-12", autocomplete = "off", id = "Admission_Registration_CandidateInstallment_PaymentMethodLumpsum" })
                        Pay Fee In Lumpsum Amount
                    </label>
                </div>
            </div>

            <div id="downpayment" class="form-group">
                @Html.LabelFor(model => model.Admission.Registration.CandidateInstallment.DownPayment, "Down Payment", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Admission.Registration.CandidateInstallment.DownPayment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Admission.Registration.CandidateInstallment.DownPayment, "", new { @class = "help-block" })
                </div>
            </div>

            <div id="lumpsum" class="form-group">
                @Html.LabelFor(model => model.LumpsumAfterRegistration, "Lumpsum Amount", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.LumpsumAfterRegistration, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.LumpsumAfterRegistration, "", new { @class = "help-block" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CandidateFee.PaymentModeId, "Payment Mode", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CandidateFee.PaymentModeId, Model.PaymentModes, "Select Payment Mode", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.CandidateFee.PaymentModeId, "", new { @class = "help-block" })
                </div>
            </div>


            @*<div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sum Of Rupees</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="divDisplayWords" style="font-size: 15px; font-family: Arial;" class="form-control col-md-7 col-xs-12"></div>
                </div>
            </div>*@
        </div>


        <div id="PaymentDetails">

            <div class="form-group bank-details-textbox-admission">
                @Html.LabelFor(model => model.CandidateFee.BankName, "Bank Name", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CandidateFee.BankName, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.CandidateFee.BankName, "", new { @class = "help-block" })
                </div>
            </div>

            <div class="form-group bank-details-textbox-admission">
                @Html.LabelFor(model => model.CandidateFee.ChequeNumber, "Cheque Number", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CandidateFee.ChequeNumber, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.CandidateFee.ChequeNumber, "", new { @class = "help-block" })
                </div>
            </div>

            <div class="form-group bank-details-textbox-admission">
                @Html.LabelFor(model => model.CandidateFee.ChequeDate, "Cheque Date", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12 dob">
                    @Html.TextBoxFor(model => model.CandidateFee.ChequeDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.CandidateFee.ChequeDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>