@using Nidan.Extensions
@model Nidan.Models.RegistrationViewModel

@Html.HiddenFor(e => e.StudentCode)
@Html.HiddenFor(e => e.EnquiryId)
@if (Model.Enquiry.IsCounsellingDone == true || Model.Enquiry.IsRegistrationDone == true)
{
    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CourseId, "Course", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.Registration.CourseId, Model.CounsellingCourse, "Select Enquiry Courses", new { @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.Registration.CourseId, "", new { @class = "help-block" })
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CourseId, "Course", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.Registration.CourseId, Model.Courses, "Select Enquiry Courses", new { @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.Registration.CourseId, "", new { @class = "help-block" })
        </div>
    </div>
}


<div class="form-group">
    @Html.LabelFor(model => model.Registration.CourseInstallmentId, "Course Installment", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.Registration.CourseInstallmentId, Model.CourseInstallments, "Select Course Installment Type", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Registration.CourseInstallmentId, "", new { @class = "help-block" })
    </div>
</div>

<div id="courseInstallmentDiv">
    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CourseInstallment.Fee, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Registration.CourseInstallment.Fee, null, new { @class = "form-control col-md-7 col-xs-12", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Registration.CourseInstallment.Fee, "", new { @class = "help-block" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CourseInstallment.DownPayment, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Registration.CourseInstallment.DownPayment, null, new { @class = "form-control col-md-7 col-xs-12", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Registration.CourseInstallment.DownPayment, "", new { @class = "help-block" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CourseInstallment.LumpsumAmount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Registration.CourseInstallment.LumpsumAmount, null, new { @class = "form-control col-md-7 col-xs-12", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Registration.CourseInstallment.LumpsumAmount, "", new { @class = "help-block" })
        </div>
    </div>
</div>

<div id="IsTotalAmountDiscountDiv">
    <div class="form-group">
        @Html.Label("", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-7 col-sm-3 col-xs-12">
            <label class="btn btn-info pull-right col-md-6">
                @Html.CheckBoxFor(model => model.Registration.CandidateInstallment.IsTotalAmountDiscount, new { @class = "col-md-2 col-xs-12", autocomplete = "off" })
                Apply Discount On Fee.
            </label>
        </div>
    </div>
</div>


<div id="overrideFeeDiv">
    <div class="form-group">
        @Html.LabelFor(model => model.Registration.CandidateInstallment.DiscountAmount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Registration.CandidateInstallment.DiscountAmount, null, new { @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.Registration.CandidateInstallment.DiscountAmount, "", new { @class = "help-block" })
        </div>
    </div>
</div>
<div>
    <div class="form-group" id="paymentMethodDiv">
        @Html.Label("", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-7 col-sm-3 col-xs-12 ">
            <label class="btn btn-info pull-right col-md-6">
                @Html.RadioButtonFor(model => model.Registration.CandidateInstallment.PaymentMethod, "MonthlyInstallment", new { @class = "col-md-2 col-xs-12", autocomplete = "off", id = "Registration.CandidateInstallment.PaymentMethodMonthly" })
                Pay Fee In Installments
            </label>
            <label class="btn btn-info pull-right col-md-6">
                @Html.RadioButtonFor(model => model.Registration.CandidateInstallment.PaymentMethod,"LumpsumAmount", new { @class = "col-md-2 col-xs-12", autocomplete = "off", id = "Registration.CandidateInstallment.PaymentMethodLumpsum"})
                Pay Fee In Lumpsum Amount
            </label>
        </div>
    </div>
</div>
@*<div class="form-group" id="downPaymentDiv">
    @Html.LabelFor(model => model.Registration.CandidateInstallment.DownPayment, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
         <div class="col-md-6 col-sm-6 col-xs-12">
             @Html.TextBoxFor(model => model.Registration.CandidateInstallment.DownPayment, null, new { @class = "form-control col-md-7 col-xs-12" })
             @Html.ValidationMessageFor(model => model.Registration.CandidateInstallment.DownPayment, "", new { @class = "help-block" })
         </div>
     </div>*@

<div class="form-group">
    @Html.LabelFor(model => model.Registration.CandidateFee.PaymentModeId, "Payment Mode", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.Registration.CandidateFee.PaymentModeId, Model.PaymentModes, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Registration.CandidateFee.PaymentModeId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Registration.CandidateFee.PaidAmount, "Registraion Amount Paid", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Registration.CandidateFee.PaidAmount, new { @class = "form-control col-md-7 col-xs-12", @maxlength = "9"})
        @*<input name="txtNumber" type="text" maxlength="9" id="txtNumber" onkeypress="return onlyNumbers(this.value);" onkeyup="NumToWord(this.value,'divDisplayWords');"/>*@
        @Html.ValidationMessageFor(model => model.Registration.CandidateFee.PaidAmount, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sum Of Rupees</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div id="divDisplayWords" style="font-size: 15px; font-family: Arial;" class="form-control col-md-7 col-xs-12"></div>
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.Registration.CandidateFee.BankName, "Bank Name", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Registration.CandidateFee.BankName, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Registration.CandidateFee.BankName, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.Registration.CandidateFee.ChequeNumber, "Cheque Number", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Registration.CandidateFee.ChequeNumber, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Registration.CandidateFee.ChequeNumber, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.Registration.CandidateFee.ChequeDate, "Cheque Date", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12 dob">
        @Html.TextBoxFor(model => model.Registration.CandidateFee.ChequeDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.Registration.CandidateFee.ChequeDate, "", new { @class = "help-block" })
    </div>
</div>
