@using System.Linq
@model Nidan.Models.QuestionViewModel
@{
    ViewBag.Title = "Create Question";
}
<h2>Create</h2>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Question<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.Question.Description,"Question", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Question.Description, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Question.Description, "", new { @class = "help-block" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Question.EventFunctionTypeId, "Event Function Type", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.Question.EventFunctionTypeId, Model.EventFunctionTypes, "Select Preferred Month For Joining", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Question.EventFunctionTypeId, "", new { @class = "help-block" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @foreach (var item in Model.EventActivityTypes)
                            {
                                @Html.CheckBox(item.Name)
                                @Html.DisplayName(item.Name)
                            }

                            <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Skiing
                            <br />
                            <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Running
                            <br />
                            <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Eating
                            <br />
                            <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                            <br />
                        </div>*@
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>