@model Nidan.Models.StockIssueViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br />

<div class="form-group">
    @Html.LabelFor(model => model.StockIssue.IssuedDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.StockIssue.IssuedDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.StockIssue.IssuedDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StockIssue.IssuedQuantity, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.StockIssue.IssuedQuantity, new { @class = "form-control has-feedback-left" })
        @Html.ValidationMessageFor(model => model.StockIssue.IssuedQuantity, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StockIssue.IssuedToPerson, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.StockIssue.IssuedToPerson, new { @class = "form-control has-feedback-left" })
        @Html.ValidationMessageFor(model => model.StockIssue.IssuedToPerson, "", new { @class = "help-block" })
    </div>
</div>
