@model Nidan.Models.StockIssueViewModel

@{
    ViewBag.Title = "Stock Issue";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Stock Issue<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong><i class="fa fa-info-circle"></i> &nbsp;@string.Format("Available Stock Item - {0}", @Model.BalanceQuantity)</strong>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.StockPurchaseId)
                    @Html.HiddenFor(model => model.BalanceQuantity)

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.Partial("_StockIssue")
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index","StockPurchase")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>

@section scripts{
    <script>
        var daterangepickerOptions = {
            autoApply: true,
            singleDatePicker: true,
            showDropdowns: true,
            showCustomRangeLabel: false,
            opens: 'left',
            //minDate: moment(),
            //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
            onSelect: function () {
                selectedDate = moment().format('DD MMMM YYYY');
            },
            locale: {
                "format": "DD MMMM YYYY"
            }
        };

        jQuery(function () {
            jQuery(".date").daterangepicker(daterangepickerOptions);
            $('.date').val(moment().format('DD MMMM YYYY'));
            $(".date").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD MMMM YYYY'));
            });
        });

    </script>
}

