@using Nidan.Extensions
<li>
    <a><i class="fa fa-user"></i> Mobilization <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Index", "FollowUp")'>Follow-Up</a></li>
        <li><a href='@Url.Action("Index", "Mobilization")'>Mobilization</a></li>
        <li><a href='@Url.Action("Index", "Enquiry")'>Lead</a></li>
        <li><a href='@Url.Action("Index", "Counselling")'>Counselling</a></li>
        <li><a href='@Url.Action("Index", "Registration")'>Registration</a></li>
        <li><a href='@Url.Action("Index", "Admission")'>Admission</a></li>
        <li><a href='@Url.Action("Index", "Batch")'>Batch</a></li>
        <li><a href='@Url.Action("Index", "Trainer")'>Trainer</a></li>
    </ul>
</li>
<li>
    <a><i class="fa fa-inr"></i> Fee <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Index", "CandidateFee")'>Candidate Fee</a></li>
        <li><a href='@Url.Action("Index", "BankDeposite")'>Bank Deposit</a></li>
    </ul>
</li>
@*<li>
        <a><i class="fa fa-check-square-o"></i> Attendance <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href='@Url.Action("Index", "BatchAttendance")'>Attendance</a></li>
        </ul>
    </li>*@
<li>
    @if (Model.CentreType != "Franchise" && !User.IsInAnyRoles("User") && !User.IsSuperAdmin())
    {
        <a><i class="fa fa-money"></i> Petty Cash <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href='@Url.Action("TermsAndCondition", "Expense")'>Expense</a></li>
        </ul>
    }
</li>
<li>
    <a><i class="fa fa-file-excel-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Mobilization", "Report")'>Mobilization</a></li>
        <li><a href='@Url.Action("Enquiry", "Report")'>Enquiry</a></li>
        <li><a href='@Url.Action("Counselling", "Report")'>Counselling</a></li>
        <li><a href='@Url.Action("Registration", "Report")'>Registration</a></li>
        <li><a href='@Url.Action("Admission", "Report")'>Admission</a></li>
        <li><a href='@Url.Action("FollowUp", "Report")'>Follow-Up</a></li>
        <li><a href='@Url.Action("ExpenseDetailReport", "Report")'>Expense Detail</a></li>
        <li><a href='@Url.Action("CandidateFee", "Report")'>Candidate Fee</a></li>
        <li><a href='@Url.Action("CandidateOtherFeeReport", "Report")'>Candidate OtherFee Report</a></li>
    </ul>
</li>
<li>
    <a><i class="fa fa-gear"></i> Masters <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Index", "Course")'>Course</a></li>
        <li><a href='@Url.Action("Index", "CourseInstallment")'>Course Installment</a></li>
        <li><a href='@Url.Action("Index", "Subject")'>Course Module</a></li>
        <li><a href='@Url.Action("Index", "Room")'>Class Room</a></li>
    </ul>
</li>
@*<li>
    <a><i class="fa fa-gear"></i> Fixed Asset <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Index", "FixAssetMapping")'>Infra Equipment</a></li>
    </ul>
</li>*@
