@using Nidan.Extensions
@model Nidan.Models.CounsellingViewModel
<div class="form-control-required-example"> = Required</div>

@Html.HiddenFor(m => m.Counselling.CounsellingId)
@Html.HiddenFor(m => m.Counselling.EnquiryId)

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-2">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Counselling.Title, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })*@
                <div class="col-md-10 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Counselling.Enquiry.Title, Model.TitleList, "Select Title", new { @class = "form-control", @disabled = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Title, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Enquiry.FirstName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Counselling.Enquiry.FirstName, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Enquiry.FirstName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Enquiry.MiddelName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Counselling.Enquiry.MiddelName, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Enquiry.MiddelName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Enquiry.LastName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Counselling.Enquiry.LastName, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Enquiry.LastName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Enquiry.Mobile, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Counselling.Enquiry.Mobile, new { @class = "form-control col-md-7 col-xs-12", @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Enquiry.Mobile, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Enquiry.IntrestedCourseId, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Counselling.Enquiry.IntrestedCourseId, Model.Courses, null, new { @class = "form-control col-md-7 col-xs-12", @disabled = "true" })
                    @Html.ValidationMessageFor(model => model.Counselling.Enquiry.IntrestedCourseId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.SectorId, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Counselling.SectorId, Model.Sectors, null, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Counselling.SectorId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.CourseOfferedId, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Counselling.CourseOfferedId, Model.Courses, null, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Counselling.CourseOfferedId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.PreferTiming, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Counselling.PreferTiming, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Counselling.PreferTiming, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Psychomatric Test Done</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div id="psychomatricTest" class="btn-group" data-toggle="buttons">
                        <label id="psychomatricTestYes" class='@(Model.Counselling.PsychomatricTest == "Yes" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Counselling.PsychomatricTest, "Yes")
                            <input type="radio" name="psychomatricTest" value="Yes" data-parsley-multiple="gender"> &nbsp; Yes &nbsp;
                        </label>
                        <label id="psychomatricTestNo" class='@(Model.Counselling.PsychomatricTest == "No" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Counselling.PsychomatricTest, "No")
                            <input type="radio" name="psychomatricTest" value="No" data-parsley-multiple="gender"> No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.ConversionProspect, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Counselling.ConversionProspect, Model.ConversionProspectList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Counselling.ConversionProspect, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.Remarks, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.EditorFor(model => model.Counselling.Remarks, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Counselling.Remarks, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Counselling.RemarkByBm, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                <div class="col-md-4 col-sm-8 col-xs-12">
                    @Html.EditorFor(model => model.Counselling.RemarkByBm, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Counselling.RemarkByBm, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>
