@model Nidan.Models.BatchViewModel
<div class="form-control-required-example"> = Required</div>


<div class="form-group">
    @Html.LabelFor(model => model.Batch.Name, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.Name, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Batch.Name, "", new { @class = "help-block" })
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.CourseInstallmentId, "Course Installment", new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.CourseInstallmentId, Model.CourseInstallments, "Select Course Installment", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.CourseInstallmentId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.CourseId, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.CourseId, Model.Courses, "Select Course", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.CourseId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.CourseInstallment.Fee, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CourseInstallment.Fee, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.CourseInstallment.Fee, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.CourseInstallment.DownPayment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CourseInstallment.DownPayment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.CourseInstallment.DownPayment, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Course.Duration, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Course.Duration, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Course.Duration, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.NumberOfHoursDaily, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.NumberOfHoursDaily, Model.NumberOfHoursDailyList, "Select Hours", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Batch.NumberOfHoursDaily, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12">Batch Days </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsMonday, new { autocomplete = "off" })
                                    Monday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsTuesday, new { autocomplete = "off" })
                                    Tuesday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsWednesday, new { autocomplete = "off" })
                                    Wednesday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsThursday, new { autocomplete = "off" })
                                    Thursday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsFriday, new { autocomplete = "off" })
                                    Friday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsSaturday, new { autocomplete = "off" })
                                    Saturday
                                </label>
                            </td>
                            <td>
                                <label class="btn btn-info">
                                    @Html.CheckBoxFor(m => m.BatchDay.IsSunday, new { autocomplete = "off" })
                                    Sunday
                                </label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Month, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.Month, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Batch.Month, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.BatchStartDate, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchStartDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchStartDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.NumberOfHolidays, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.NumberOfHolidays, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.NumberOfHolidays, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.BatchEndDate, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchEndDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Batch.BatchEndDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.AssessmentDate, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.AssessmentDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.Batch.AssessmentDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div ng-controller="TrainerController as model">
                <div class="form-group">
                    @Html.Label("Trainer", new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="hidden" id="@Html.IdFor(model => model.SelectedTrainerIdsJson)" name="@Html.NameFor(model => model.SelectedTrainerIdsJson)" ng-init="model.selectedTrainers = @Model.SelectedTrainerIdsJson" value="{{model.selectedTrainers}}" />
                        <ui-select multiple tagging ng-model="model.selectedTrainers" on-remove="model.deleteBatchTrainer(@Model.Batch.BatchId,$item)" class="form-control" ng-change="model.filterSelected()" style="width: 100%" ng-disabled="model.trainers.length <=0">
                            <ui-select-match placeholder="Select Trainers"> <span ng-bind-html="$item.Title"></span> <span ng-bind-html="$item.FirstName"></span> <span ng-bind-html="$item.MiddleName"></span> <span ng-bind-html="$item.LastName"></span></ui-select-match>
                            <ui-select-choices repeat="trainer.TrainerId as trainer in model.trainers | filter:$select.search">
                                <span ng-bind-html="trainer.Title"></span> <span ng-bind-html="trainer.FirstName"></span> <span ng-bind-html="trainer.MiddleName"></span> <span ng-bind-html="trainer.LastName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="BatchController as model">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Start Time</label>
                    <div class="col-md-3 col-sm-6 col-xs-12 add batchStartTime">
                        @Html.DropDownListFor(model => model.Batch.BatchStartTimeHours, Model.HoursList, "HH", new { @class = "form-control", @ng_model = "model.hours", @ng_change = "model.retrieveRoomByHours()" })
                        @Html.ValidationMessageFor(model => model.Batch.BatchStartTimeHours, "", new { @class = "help-block" })
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 batchStartTime">
                        @Html.DropDownListFor(model => model.Batch.BatchStartTimeMinutes, Model.MinutesList, "MM", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Batch.BatchStartTimeMinutes, "", new { @class = "help-block" })
                    </div>

                    <label class="control-label col-md-4 col-sm-3 col-xs-12"></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="btn btn-info col-md-12 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.Batch.BatchStartTimeSpan, "AM", new { id = "rbBatchStartTimeSpanAM" })
                            AM
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="btn btn-info col-md-12 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.Batch.BatchStartTimeSpan, "PM", new { id = "rbBatchStartTimeSpanPM" })
                            PM
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-3 col-xs-12">End Time</label>
                    <div class="col-md-3 col-sm-6 col-xs-12 add">
                        @Html.DropDownListFor(model => model.Batch.BatchEndTimeHours, Model.HoursList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Batch.BatchEndTimeHours, "", new { @class = "help-block" })
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(model => model.Batch.BatchEndTimeMinutes, Model.MinutesList, "MM", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Batch.BatchEndTimeMinutes, "", new { @class = "help-block" })
                    </div>

                    <label class="control-label col-md-4 col-sm-3 col-xs-12"></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="btn btn-info col-md-12 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.Batch.BatchEndTimeSpan, "AM", new { id = "rbBatchEndTimeSpanAM" })
                            AM
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="btn btn-info col-md-12 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.Batch.BatchEndTimeSpan, "PM", new { id = "rbBatchEndTimeSpanPM" })
                            PM
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.RoomId, "Classroom", new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.RoomId, Model.Rooms, "Select Class-Room", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.RoomId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Intake, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.Intake, new { @class = "form-control col-md-7 col-xs-12", @max = 30 })
                    @Html.ValidationMessageFor(model => model.Batch.Intake, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Remarks, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.Remarks, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.Remarks, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.NumberOfInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12 calculate">
                    @Html.TextBoxFor(model => model.Batch.NumberOfInstallment, new { @class = "form-control col-md-7 col-xs-12", @max = 12 })
                    @Html.ValidationMessageFor(model => model.Batch.NumberOfInstallment, "", new { @class = "help-block" })
                </div>
                @*<button id="addbutton" type="button" class="btn btn-warning">Get Installment(s)</button>*@
            </div>
        </div>
    </div>
</div>

<div class="form-group fisrt-installment-textbox">
    @Html.LabelFor(model => model.Batch.FirstInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.FirstInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.FirstInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group second-installment-textbox">
    @Html.LabelFor(model => model.Batch.SecondInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.SecondInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.SecondInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group third-installment-textbox">
    @Html.LabelFor(model => model.Batch.ThirdInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.ThirdInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.ThirdInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group forth-installment-textbox">
    @Html.LabelFor(model => model.Batch.FourthInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.FourthInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.FourthInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group fifth-installment-textbox">
    @Html.LabelFor(model => model.Batch.FifthInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.FifthInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.FifthInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group sixth-installment-textbox">
    @Html.LabelFor(model => model.Batch.SixthInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.SixthInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.SixthInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group seventh-installment-textbox">
    @Html.LabelFor(model => model.Batch.SeventhInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.SeventhInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.SeventhInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group eighth-installment-textbox">
    @Html.LabelFor(model => model.Batch.EighthInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.EighthInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.EighthInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group nineth-installment-textbox">
    @Html.LabelFor(model => model.Batch.NinethInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.NinethInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.NinethInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group tenth-installment-textbox">
    @Html.LabelFor(model => model.Batch.TenthInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.TenthInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.TenthInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group eleventh-installment-textbox">
    @Html.LabelFor(model => model.Batch.EleventhInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.EleventhInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.EleventhInstallment, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group twelveth-installment-textbox">
    @Html.LabelFor(model => model.Batch.TwelvethInstallment, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Batch.TwelvethInstallment, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.Batch.TwelvethInstallment, "", new { @class = "help-block" })
    </div>
</div>
