@model Nidan.Models.BatchViewModel
<div class="form-control-required-example"> = Required</div>

@Html.HiddenFor(model => model.Batch.BatchId)
@Html.HiddenFor(model => model.Batch.BatchDayId)

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Name, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.Name, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.Name, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.Intake, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.Intake, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.Intake, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.CourseFeeBreakUpId, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.CourseFeeBreakUpId, Model.CourseFeeBreakUps, "Select Course Fee Break Up", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.CourseFeeBreakUpId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.CourseId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.CourseId, Model.Courses, "Select Course", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.CourseId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.TrainerId, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Batch.TrainerId, Model.Trainers, "Select Trainer", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Batch.TrainerId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.BatchStartDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchStartDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchStartDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Batch Days</label>
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Monday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsMonday, new { @class = "icheckbox_flat-green", style = "position: relative; " })
                </div>

                <label class="control-label col-md-2 col-sm-3 col-xs-12">Tuesday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsTuesday, new { @class = "checkbox" })
                </div>

                <label class="control-label col-md-2 col-sm-3 col-xs-12">Wednusday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsWednusday, new { @class = "checkbox" })
                </div>

                <label class="control-label col-md-5 col-sm-3 col-xs-12">Saturday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsSaturday, new { @class = "checkbox" })
                </div>

                <label class="control-label col-md-2 col-sm-3 col-xs-12">Sunday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsSunday, new { @class = "checkbox" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Thusday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsThusday, new { @class = "checkbox" })
                </div>

                <label class="control-label col-md-2 col-sm-3 col-xs-12">Friday</label>
                <div class="col-md-1 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsFriday, new { @class = "checkbox" })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Batch.BatchEndDate, new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchEndDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchEndDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Batch.AssesmentDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.AssesmentDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
                    @Html.ValidationMessageFor(model => model.Batch.AssesmentDate, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Batch Start Timing</label>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchStartTimeHours, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "HH" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchStartTimeHours, "", new { @class = "help-block" })
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchStartTimeMinutes, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "MM" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchStartTimeMinutes, "", new { @class = "help-block" })
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    @Html.RadioButtonFor(model => model.Batch.BatchStartTimeSpan, "AM", new { id = "rbBatchStartTimeSpan" })
                    @Html.Label("rbBatchStartTimeSpan", "AM")

                    @Html.RadioButtonFor(model => model.Batch.BatchStartTimeSpan, "PM", new { id = "rbBatchStartTimeSpan" })
                    @Html.Label("rbBatchStartTimeSpan", "PM")
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Batch End Timing</label>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchEndTimeHours, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "HH" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchEndTimeHours, "", new { @class = "help-block" })
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Batch.BatchEndTimeMinutes, new { @class = "form-control col-md-7 col-xs-12", @placeholder = "MM" })
                    @Html.ValidationMessageFor(model => model.Batch.BatchEndTimeMinutes, "", new { @class = "help-block" })
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    @Html.RadioButtonFor(model => model.Batch.BatchEndTimeSpan, "AM", new { id = "rbBatchEndTimeSpan" })
                    @Html.Label("rbBatchEndTimeSpan", "AM")

                    @Html.RadioButtonFor(model => model.Batch.BatchEndTimeSpan, "PM", new { id = "rbBatchEndTimeSpan" })
                    @Html.Label("rbBatchEndTimeSpan", "PM")
                </div>
            </div>
        </div>
    </div>
</div>


