@model Nidan.Models.BatchViewModel

@{
    ViewBag.Title = "Create Batch";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create new Batch <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.Batch.CourseInstallment.Name)
                    @Html.HiddenFor(model => model.Batch.Course.Name)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.Partial("_Batch", Model)
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        $("#Batch_Intake").val("");
        $("#Batch_NoOfHolidays").val("");
        $("#Batch_NoOfHoursDaily").val("");
        $("#Batch_BatchStartTimeHours").val("");
        $("#Batch_BatchStartTimeMinutes").val("");
        $("#Batch_BatchEndTimeHours").val("");
        $("#Batch_BatchEndTimeMinutes").val("");
        $("#Batch_Month").val("");
        $("#Batch_NoOfInstallment").val("");
        var daterangepickerOptions = {
            autoApply: true,
            singleDatePicker: true,
            showDropdowns: true,
            showCustomRangeLabel: false,
            opens: 'left',
            minDate: moment(),
            //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
            onSelect: function () {
                selectedDate = moment().format('DD MMMM YYYY');
            },
            locale: {
                "format": "DD MMMM YYYY"
            }
        };
        jQuery(function () {
            jQuery(".date").daterangepicker(daterangepickerOptions);
            $('#BatchStartDate').val(moment().format('DD MMMM YYYY'));
            $(".generated .date")
                .on('apply.daterangepicker',
                    function (ev, picker) {
                        $(this).val(picker.startDate.format('DD MMMM YYYY'));
                    });
        });

        //=========================================================================populate course

        $('#Batch_CourseInstallmentId').change(function () {
            var courseInstallmentId = $('#Batch_CourseInstallmentId :selected').val();
            $.ajax({
                url: '/Batch/GetCourse',
                type: 'POST',
                data: JSON.stringify({ courseInstallmentId: courseInstallmentId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#Batch_CourseId").empty();
                    $("#Batch_CourseId").append($("<option></option>").val(result.Course.CourseId).html(result.Course.Name));
                    $("#Batch_Course_Duration").val(result.Course.Duration);
                    $("#Batch_CourseInstallment_Fee").val(result.Fee);
                    $("#Batch_CourseInstallment_DownPayment").val(result.DownPayment);
                },
                async: true,
                processData: false
            });
        });
        //=======================================================================Do not allow decimal
        $(document).ready(function () {
            /* Allow digits only */
            $(".batchStartTime").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    $("#wdm_errmsg").html("Please Enter Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
            /* Do not allow paste */
            $('.batchStartTime').bind("paste", function (e) {
                e.preventDefault();
            });
        });

        //==================================================================== Calculate end Time
        function getendtime() {
            var startHours = $("#Batch_BatchStartTimeHours").val();
            var startMinutr = $("#Batch_BatchStartTimeMinutes").val();

            if (startHours == 12) {
                var dailyHoursA = $("#Batch_NoOfHoursDaily").val();
                var startHoursA = 0;
                var endTimeA = parseInt(startHoursA) + parseInt(dailyHoursA);
                document.getElementById('Batch_BatchEndTimeHours').value = endTimeA;

            } else {
                var dailyHoursB = $("#Batch_NoOfHoursDaily").val();
                var startHoursB = $("#Batch_BatchStartTimeHours").val();
                var endTimeB = parseInt(startHoursB) + parseInt(dailyHoursB);
                document.getElementById('Batch_BatchEndTimeHours').value = endTimeB;

            }
            document.getElementById('Batch_BatchEndTimeMinutes').value = startMinutr;
        }


        //==================================================================== Calculation Of Month add holiday count

        $(document).ready(function () {
            $("#countbutton").click(function () {
                check();
            });
        });

        function check() {
            if ($('ul input[type=checkbox]:checked').length <= 0) {
                alert("Please Select Atleast Any One Day");
            } 
        }

        $("#countbutton")
            .click(function () {
                var courseDuration = $("#Batch_Course_Duration").val();
                var hours = $("#Batch_NoOfHoursDaily").val();
                var checkboxcount = $("[type='checkbox']:checked").length - 1;
                var perweek = checkboxcount * hours;
                var perMonth = perweek * 4;
                var roundresult = courseDuration / perMonth;
                var result = Math.round((roundresult * 100) / 100);
                $("#Batch_Month").val(result);
            });

        //================================================================== Calculation Of Installment

        $('.fisrt-installment-textbox').hide();
        $('.second-installment-textbox').hide();
        $('.third-installment-textbox').hide();
        $('.forth-installment-textbox').hide();
        $('.fifth-installment-textbox').hide();
        $('.sixth-installment-textbox').hide();
        $('.seventh-installment-textbox').hide();
        $('.eighth-installment-textbox').hide();
        $('.nineth-installment-textbox').hide();
        $('.tenth-installment-textbox').hide();
        $('.eleventh-installment-textbox').hide();
        $('.twelveth-installment-textbox').hide();
        $("#addbutton")
            .click(function () {
                var fee = $("#Batch_CourseInstallment_Fee").val();
                var dp = $("#Batch_CourseInstallment_DownPayment").val();
                var noofinstallment = $("#Batch_NoOfInstallment").val();
                if (!fee || !dp)
                    return false; // Wait till both values are set
                var answer = fee - dp;
                var ansvalue = answer / noofinstallment;
                var value = Math.round((ansvalue * 100) / 100);
                if (noofinstallment == 1) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').hide();
                    $('.third-installment-textbox').hide();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                }
                if (noofinstallment == 2) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').hide();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                }
                if (noofinstallment == 3) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                }
                if (noofinstallment == 4) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                }
                if (noofinstallment == 5) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                }
                if (noofinstallment == 6) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                }
                if (noofinstallment == 7) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                }
                if (noofinstallment == 8) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                    $("#Batch_EighthInstallment").val(value);
                }
                if (noofinstallment == 9) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                    $("#Batch_EighthInstallment").val(value);
                    $("#Batch_NinethInstallment").val(value);
                }
                if (noofinstallment == 10) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                    $("#Batch_EighthInstallment").val(value);
                    $("#Batch_NinethInstallment").val(value);
                    $("#Batch_TenthInstallment").val(value);
                }
                if (noofinstallment == 11) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').show();
                    $('.twelveth-installment-textbox').hide();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                    $("#Batch_EighthInstallment").val(value);
                    $("#Batch_NinethInstallment").val(value);
                    $("#Batch_TenthInstallment").val(value);
                    $("#Batch_EleventhInstallment").val(value);
                }
                if (noofinstallment == 12) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').show();
                    $('.twelveth-installment-textbox').show();
                    $("#Batch_FirstInstallment").val(value);
                    $("#Batch_SecondInstallment").val(value);
                    $("#Batch_ThirdInstallment").val(value);
                    $("#Batch_ForthInstallment").val(value);
                    $("#Batch_FifthInstallment").val(value);
                    $("#Batch_SixthInstallment").val(value);
                    $("#Batch_SeventhInstallment").val(value);
                    $("#Batch_EighthInstallment").val(value);
                    $("#Batch_NinethInstallment").val(value);
                    $("#Batch_TenthInstallment").val(value);
                    $("#Batch_EleventhInstallment").val(value);
                    $("#Batch_TwelvethInstallment").val(value);
                }
            });
    </script>}



