@model Nidan.Models.GovernmentMobilizationViewModel
@{
    ViewBag.Title = string.Format("Edit Govt Mobilization ({0})", Model.GovernmentMobilization.Name);
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@string.Format("{0}", Model.GovernmentMobilization.Name)<small>Edit Govt Mobilization</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => Model.GovernmentMobilization.GovernmentMobilizationId)
                        @Html.Partial("_GovernmentMobilization", Model)
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
        var date = $('#GovernmentMobilization_DateofBirth').val();
        
        //$('#publicHolidayErrorSummary').hide();
        //var daterangepickerOptions = {
        //    autoApply: true,
        //    singleDatePicker: true,
        //    showDropdowns: true,
        //    showCustomRangeLabel: false,
        //    opens: 'left',
        //    minDate: moment().subtract('2', 'days').format('DD MMMM YYYY'),
        //    maxDate: moment().format('DD MMMM YYYY'),
        //    onSelect: function () {
        //        selectedDate = moment().format('DD MMMM YYYY');
        //    },
        //    locale: {
        //        "format": "DD MMMM YYYY"
        //    }
        //};

        //jQuery(".date").daterangepicker(daterangepickerOptions);
        //$(".date").on('apply.daterangepicker', function (ev, picker) {
        //    $(this).val(picker.startDate.format('DD MMMM YYYY'));
        //});

            function phoneno() {
            $('#phone').keypress(function (e) {
                var a = [];
                var k = e.which;

                for (i = 48; i < 58; i++)
                    a.push(i);

                if (!(a.indexOf(k) >= 0))
                    e.preventDefault();
            });
            }

        $('#GovernmentMobilization_DistrictId').change(function () {
            var districtId = $('#GovernmentMobilization_DistrictId :selected').val();
            $.ajax({
                url: '/GovernmentMobilization/GetDistrictBlock',
                type: 'POST',
                data: JSON.stringify({ districtId: districtId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#GovernmentMobilization_DistrictBlockId").empty();
                    $("#GovernmentMobilization_DistrictBlockId").append($("<option></option>").html("Select District Block"));
                    $.each(result, function (key, value) {
                        $("#GovernmentMobilization_DistrictBlockId").append($("<option></option>").val(value.DistrictBlockId).html(value.Name));

                    });
                },
                async: true,
                processData: false
            });
        });
        //$("#GovernmentMobilization_DistrictBlockId").empty().append("Select Block");
        //$("#GovernmentMobilization_BlockPanchayatId").empty().append("Select Panchayat");
        $('#GovernmentMobilization_DistrictBlockId').change(function () {
            var districtBlockId = $('#GovernmentMobilization_DistrictBlockId :selected').val();
            $.ajax({
                url: '/GovernmentMobilization/GetBlockPanchayat',
                type: 'POST',
                data: JSON.stringify({ districtBlockId: districtBlockId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#GovernmentMobilization_BlockPanchayatId").empty();
                    $("#GovernmentMobilization_BlockPanchayatId").append($("<option></option>").html("Select Block Panchayat"));
                    $.each(result, function (key, value) {
                        $("#GovernmentMobilization_BlockPanchayatId").append($("<option></option>").val(value.BlockPanchayatId).html(value.Name));

                    });
                },
                async: true,
                processData: false
            });
        });
        </script>
}