@model Nidan.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Lost your password?";
    Layout = "~/Views/Shared/_OutsideLayout.cshtml";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1>@ViewBag.Title</h1>
    <h4>Enter your email address.</h4>
    <div class="form-group separator">
        @Html.ValidationSummary("", new { @class = "help-block" })
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}
