@using Nidan.Extensions
@model Nidan.Models.ReportViewModel

@{
    ViewBag.Title = "Mobilization Process Report By Month";
}

<div ng-controller="ReportController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Statistics <small></small>
            </h3>
        </div>
    </div>
    <div id="reportByMonth" class="row">
        <div class="col-lg-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Report By Month<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CentreId, "Centre", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.CentreId, Model.Centres, "Select Centre", new {@class = "form-control col-md-7 col-xs-12", ng_model = "model.centreId"})
                                    @Html.ValidationMessageFor(model => model.CentreId, "", new {@class = "help-block"})
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromMonth, "From Month", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.FromMonth, Model.MonthList, "Select Month", new {@class = "form-control", ng_model = "model.fromMonth"})
                                        @Html.ValidationMessageFor(model => model.FromMonth, "", new {@class = "help-block"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromYear, "From Year", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.FromYear, Model.YearList, "Select Year", new {@class = "form-control", ng_model = "model.fromYear"})
                                        @Html.ValidationMessageFor(model => model.FromYear, "", new {@class = "help-block"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToMonth, "To Month", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.ToMonth, Model.MonthList, "Select Month", new {@class = "form-control", ng_model = "model.toMonth"})
                                        @Html.ValidationMessageFor(model => model.ToMonth, "", new {@class = "help-block"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToYear, "To Year", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.ToYear, Model.YearList, "Select Year", new {@class = "form-control", ng_model = "model.toYear"})
                                        @Html.ValidationMessageFor(model => model.ToYear, "", new {@class = "help-block"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="button" ng-click="model.searchMobilizationCountReportByMonthAndYear(model.centreId,model.fromMonth,model.toMonth,model.fromYear,model.toYear)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                            <thead>
                                            <tr role="row">
                                                @if (User.IsInAnyRoles("SuperAdmin"))
                                                {
                                                    <th>Centre</th>
                                                }
                                                <th>Month</th>
                                                <th>Mobilization Count</th>
                                                <th>Enquiry Count</th>
                                                <th>Counselling Count</th>
                                                <th>Registration Count</th>
                                                <th>Admission Count</th>
                                                <th>Course Booking</th>
                                                <th>Fee Collected</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="report in model.reports" class="odd gradeX">
                                                @if (User.IsInAnyRoles("SuperAdmin"))
                                                {
                                                    <td><span ng-bind="report.CentreName"></span></td>
                                                }
                                                <td><span ng-bind="report.MonthName"></span></td>
                                                <td><span ng-bind="report.MobilizationCount"></span></td>
                                                <td><span ng-bind="report.EnquiryCount"></span></td>
                                                <td><span ng-bind="report.CounsellingCount"></span></td>
                                                <td><span ng-bind="report.RegistrationCount"></span></td>
                                                <td><span ng-bind="report.AdmissionCount"></span></td>
                                                <td><span ng-bind="report.CourseBooking"></span></td>
                                                <td><span ng-bind="report.FeeCollected"></span></td>
                                            </tr>
                                            <tr role="row" style="background: rgba(52, 73, 94, 0.94);color: #ECF0F1">
                                                <td colspan="2">Total</td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.MobilizationCount"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.EnquiryCount"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.CounsellingCount"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.RegistrationCount"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.AdmissionCount"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.CourseBooking"></span></td>
                                                <td><span ng-bind="model.totalSumOfCountReportsByMonth.FeeCollected"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        @*<table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                            <thead>
                                            
                                            </thead>
                                        </table>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label ng-bind="model.searchMessage"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("MobilizationStatistics")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>