<div role="tabpanel" class="tab-pane fade" id="tab_content_planning" aria-labelledby="profile-tab">
    <p>
        Planning
    </p>
</div>

<div ng-controller="EventController as model">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>
                            Events <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th ng-click="model.order('Description')" ng-class="model.orderClass('Description')">Question</th>
                                            <th ng-click="model.order('Completed')" ng-class="model.orderClass('Completed')">Completed</th>
                                            <th ng-click="model.order('Comments')" ng-class="model.orderClass('Comments')">Comments</th>
                                            @*@if (User.IsInAnyRoles("Admin"))
                                                {*@
                                            <th>Actions</th>
                                            @*}*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="question in model.questions" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewEvent(event.EventId)">
                                            <td><span ng-bind="question.Description"></span></td>
                                            <td>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                                        @*<label class='@(Model.Enquiry.Gender == "Male" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            @Html.RadioButtonFor(model => model.Enquiry.Gender, "Male")*@
                                                        <input type="radio" name="gender" value="Male" data-parsley-multiple="gender"> &nbsp; Yes &nbsp;
                                                        @* </label>*@
                                                        @*<label class='@(Model.Enquiry.Gender == "Female" ? "btn btn-primary active" : "btn btn-default")' data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            @Html.RadioButtonFor(model => model.Enquiry.Gender, "Female")*@
                                                        <input type="radio" name="gender" value="Female" data-parsley-multiple="gender"> No
                                                        @*</label>*@
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <input type="search" class="form-control" placeholder="" aria-controls="datatable-checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*@if (User.IsInAnyRoles("Admin"))
                                                            {
                                                                <li>
                                                                    <a style="cursor: pointer;" ng-href="/Event/Edit/{{event.EventId}}">
                                                                        Edit
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure, you want to delete Event {{event.Name}}" ng-bootbox-confirm-action="model.deleteEvent(event.EventId)" ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                        Delete
                                                                    </a>
                                                                </li>
                                                            }*@
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>