@model Nidan.Models.TrainerViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Trainer.Title, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12">
                    @Html.DropDownListFor(model => model.Trainer.Title, Model.TitleList, "Select Title", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Trainer.Title, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Trainer.FirstName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Trainer.FirstName, new { @class = "form-control has-feedback-left", @placeholder = "First Name" })
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Trainer.FirstName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Trainer.MiddleName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Trainer.MiddleName, new { @class = "form-control has-feedback-left", @placeholder = "Middle Name" })
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Trainer.MiddleName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Trainer.LastName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Trainer.LastName, new { @class = "form-control has-feedback-left", @placeholder = "Last Name" })
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Trainer.LastName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-12">Gender</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Trainer.Gender, "Male")
                            <input type="radio" name="gender" value="Male" data-parsley-multiple="gender"> &nbsp; Male &nbsp;
                        </label>
                        <label class="btn btn-default" data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Trainer.Gender, "Female")
                            <input type="radio" name="gender" value="Female" data-parsley-multiple="gender"> Female
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-12">Certified</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div id="certified" class="btn-group" data-toggle="buttons">
                        <label id="yesRadioButton" class='@(Model.Trainer.Certified == "Yes" ? "btn btn-primary active" : "btn btn-default")' data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Trainer.Certified, "Yes")
                            <input type="radio" name="certified" value="Yes" data-parsley-multiple="gender"> &nbsp; Yes &nbsp;
                        </label>
                        <label id="noRadioButton" class='@(Model.Trainer.Certified == "No" ? "btn btn-primary active" : "btn btn-default")' data-toggle-passive-class="btn-default">
                            @Html.RadioButtonFor(model => model.Trainer.Certified, "No")
                            <input type="radio" name="certified" value="No" data-parsley-multiple="gender"> No
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group trainer-certification-textbox">
                @Html.LabelFor(model => model.Trainer.CertificationNo, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.CertificationNo, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.CertificationNo, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.Address1, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.Address1, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.Address1, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.Address2, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.Address2, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.Address2, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.Address3, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.Address3, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.Address3, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.Address4, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.Address4, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.Address4, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Trainer.StateId, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Trainer.StateId, Model.States, "Select State", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.StateId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Trainer.DistrictId, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Trainer.DistrictId, Model.Districts, "Select District", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.DistrictId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.Trainer.TalukaId, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(model => model.Trainer.TalukaId, Model.Talukas, "Select Taluka", new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.TalukaId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.PinCode, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.PinCode, new { @class = "form-control col-md-7 col-xs-12", @maxlength = "6" })
                    @Html.ValidationMessageFor(model => model.Trainer.PinCode, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.EmailId, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.EmailId, new { @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Trainer.EmailId, "", new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Trainer.Mobile, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })
                <div class="col-md-8 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(model => model.Trainer.Mobile, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "phoneno()", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.Trainer.Mobile, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Trainer.AadharNo, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
    <div class="col-md-5 col-sm-4 col-xs-12">
        @Html.TextBoxFor(model => model.Trainer.AadharNo, new { @class = "form-control col-md-7 col-xs-12", @maxlength = "16" })
        @Html.ValidationMessageFor(model => model.Trainer.AadharNo, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group ">
    @Html.LabelFor(model => model.Trainer.SectorId, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
    <div class="col-md-5 col-sm-4 col-xs-12">
        @Html.DropDownListFor(model => model.Trainer.SectorId, Model.Sectors, "Select Sector", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Trainer.SectorId, "", new { @class = "help-block" })
    </div>
</div>

@*<div class="form-group ">
    @Html.LabelFor(model => model.Trainer.CourseId, new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
    <div class="col-md-5 col-sm-4 col-xs-12">
        @Html.DropDownListFor(model => model.Trainer.CourseId, Model.Courses, "Select Course", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Trainer.CourseId, "", new { @class = "help-block" })
    </div>
</div>*@
