@model Nidan.Models.CandidateFeeViewModel


@Html.HiddenFor(model => model.CandidateFee.CandidateFeeId)
@Html.HiddenFor(model => model.CandidateFee.CandidateInstallmentId)
<div class="modal fade" id="candidateFeeModal" ng-hide="model.ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Payment Details</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row">
                                <label id="labelAmount" class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAmount" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label id="labelPaymentMode" class="control-label col-md-3 col-sm-3 col-xs-12">Payment Mode</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="dropDownPaymentMode" class="form-control col-md-7 col-xs-12">
                                        <option>Select Payment Mode</option>
                                        <option data-ng-repeat="t in model.paymentModes" ng-model="model.paymentModeId" value="{{t.PaymentModeId}}">{{t.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-10 col-sm-3 col-xs-12">
                                <label class="btn btn-info pull-right col-md-9">
                                    @*@Html.CheckBoxFor(model => model.CandidateFee.IsPaidAmountOverride, new { @class = "col-md-2 col-xs-12", autocomplete = "off" })*@
                                    <input id="checkbox" type="checkbox" />
                                           Do You Want To Override Fee.
                                </label>
                            </div>
                        </div>
                        
                        <div id="overrideFeeDiv">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CandidateFee.PaidAmount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                @*<div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.CandidateFee.PaidAmount, null, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.CandidateFee.PaidAmount, "", new { @class = "help-block" })
                                </div>*@
                                <input type="text" id="txtPaidAmount" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label id="labelChequeNumber" class="control-label col-md-3 col-sm-3 col-xs-12">Cheque Number</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="txtChequeNumber" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label id="labelChequeDate" class="control-label col-md-3 col-sm-3 col-xs-12">Cheque Date</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="txtChequeDate" type="text" class="form-control date" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label id="labelBankName" class="control-label col-md-3 col-sm-3 col-xs-12">Bank Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="txtBankName" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="form-group">
                                    <div class="control-label col-md-14 col-sm-14 col-xs-12">
                                        <div class="pull-right col-md-12">
                                            <div class="col-md-9">
                                                <button type="submit" id="btnSaveCandidateFee" ng-click="model.saveFee()" class="btn btn-success" disabled="disabled" data-dismiss="modal"><i class="fa fa-credit-card"></i> Submit Payment</button>
                                            </div>
                                            <div class="pull-right col-md-3">
                                                <button type="button" id="btnCancel" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
