@using System.Linq
@model Nidan.Models.EnquiryViewModel

@{
    ViewBag.Title = "Create Enquiry";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Enquiry <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal form-label-left">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(m => m.CreateEnquiryFromMobilizationFollowUpId)
                        @Html.HiddenFor(m => m.MobilizationId)
                        @Html.Partial("_Enquiry", Model)
                        @*<div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2><i class="fa fa-bars"></i> Confirmed By Official <small>confirmed by official</small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Settings 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @Html.Partial("_Counselling", Model)
                                    </div>
                                </div>
                            </div>*@

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
        var mobile = $("#Enquiry_Mobile");

        if (mobile.val() == "0") {
            $('#Enquiry_Mobile').val("");
        }

        $("#Enquiry_Age").val("");
        $("#Enquiry_PinCode").val("");
        $("#Enquiry_SectorId").empty().append("Select Sector");


        //=========================================Do not accept special char and numbers
        $(function () {
            $('.name').keypress(function (e) {
                var txt = String.fromCharCode(e.which);
                console.log(txt + ' : ' + e.which);
                if (!txt.match(/[A-Za-z+#.]/))//+#-.
                {
                    return false;
                }
            });
        });
       
        //$('.other-interested-course-textbox').hide();
        //$("#Enquiry_SectorId").change(function () {
        //    if ($('#Enquiry_SectorId :selected').text() == "Others") {
        //        $('.other-interested-course-textbox').show();
        //    } else {
        //        $('.other-interested-course-textbox').hide();
        //    }
        //});

        //$('.other-interested-course-textbox').hide();
        //$("#Enquiry_IntrestedCourseId").change(function () {
        //    if ($('#Enquiry_IntrestedCourseId :selected').text() == "Others") {
        //        $('.other-interested-course-textbox').show();
        //    } else {
        //        $('.other-interested-course-textbox').hide();
        //    }
        //});

        jQuery(function () {
            if ($('#Enquiry_PreTrainingStatus').is(':checked')) {
                $('.experience-year-textbox').hide();
            } else {
                $('.experience-year-textbox').show();
            }

            var daterangepickerOptions = {
                autoUpdateInput: false,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    // selectedDate = moment().format('DD MMMM YYYY');
                    $('#Counselling_FollowUpDate').val(moment().format('DD MMMM YYYY'));
                    $('#Enquiry_FollowUpDate').val(moment().format('DD MMMM YYYY'));
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(".date").daterangepicker(daterangepickerOptions);
            $(".date").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD MMMM YYYY'));
            });


            $('#experienceRadioButton').click(function () {
                $('.experience-year-textbox').show();
            });

            $('#fresherRadioButton').click(function () {
                $('.experience-year-textbox').hide();
            });

            if (!$('#Enquiry_EmploymentStatus').is(':checked')) {
                $('.employment-status-textbox').hide();
            } else {
                $('.employment-status-textbox').show();
            }

            $('#employedRadioButton').click(function () {
                $('.employment-status-textbox').show();
            });

            $('#unemployedRadioButton').click(function () {
                $('.employment-status-textbox').hide();
            });

            jQuery(".end-date, .termination-date").remove();
            $('#Counselling_FollowUpDate').val("");
            $('#Enquiry_FollowUpDate').val("");

        });

        function phoneno() {
            $('#phone').keypress(function (e) {
                var a = [];
                var k = e.which;

                for (i = 48; i < 58; i++)
                    a.push(i);

                if (!(a.indexOf(k) >= 0))
                    e.preventDefault();
            });
        }

        $('#Enquiry_StateId').change(function () {
            var stateId = $('#Enquiry_StateId :selected').val();
            $.ajax({
                url: '/Enquiry/GetDistrict',
                type: 'POST',
                data: JSON.stringify({ stateId: stateId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#Enquiry_DistrictId").empty();
                    $("#Enquiry_DistrictId").append($("<option></option>").html("Select District"));
                    $.each(result, function (key, value) {
                        $("#Enquiry_DistrictId").append($("<option></option>").val(value.DistrictId).html(value.Name));

                    });
                },
                async: true,
                processData: false
            });
        });

        $('#Enquiry_DistrictId').change(function () {
            var districtId = $('#Enquiry_DistrictId :selected').val();
            $.ajax({
                url: '/Enquiry/GetTaluka',
                type: 'POST',
                data: JSON.stringify({ districtId: districtId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#Enquiry_TalukaId").empty();
                    $("#Enquiry_TalukaId").append($("<option></option>").html("Select Taluka"));
                    $.each(result, function (key, value) {
                        $("#Enquiry_TalukaId").append($("<option></option>").val(value.TalukaId).html(value.Name));

                    });
                },
                async: true,
                processData: false
            });
        });


        //$('#Enquiry_SectorId').change(function () {
        //    var sectorId = $('#Enquiry_SectorId :selected').val();
        //    $.ajax({
        //        url: '/Enquiry/GetCourse',
        //        type: 'POST',
        //        data: JSON.stringify({ sectorId: sectorId }),
        //        dataType: 'json',
        //        contentType: 'application/json; charset=utf-8',
        //        error: function (xhr) {
        //            alert('Error: ' + xhr.statusText);
        //        },
        //        success: function (result) {
        //            $("#SelectedCourseIdsJson").empty();
        //            $.each(result, function (key, value) {
        //                $("#SelectedCourseIdsJson").append($("<option></option>").val(value.CourseId).html(value.Name));

        //            });
        //        },
        //        async: true,
        //        processData: false
        //    });
        //});

        $('#Enquiry_SchemeId').change(function () {
            var schemeId = $('#Enquiry_SchemeId :selected').val();
            if (schemeId === "") return;
            $.ajax({
                url: '/Enquiry/GetSector',
                type: 'POST',
                data: JSON.stringify({ schemeId: schemeId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#Enquiry_SectorId").empty();
                    $("#Enquiry_SectorId").append($("<option></option>").html("Select Sector"));
                    $.each(result, function (key, value) {
                        $("#Enquiry_SectorId").append($("<option></option>").val(value.SectorId).html(value.Name));
                    });
                },
                async: true,
                processData: false
            });
        });

    </script>
}