@model Nidan.Models.EnquiryViewModel
@{
    ViewBag.Title = string.Format("Edit Enquiry ({0})", Model.Enquiry.CandidateName);
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@Model.Enquiry.CandidateName<small>Edit Enquiry</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => Model.Enquiry.EnquiryId)
                        @Html.Partial("_Enquiry", Model)
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> Confirmed By Official <small>confirmed by official</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Settings 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    @*@Html.Partial("_Counselling", Model)*@

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>

@section scripts {
    <script>
        jQuery(function () {

            if ($('#Enquiry_PreTrainingStatus').is(':checked')) { $('.experience-year-textbox').hide(); }
            else { $('.experience-year-textbox').show(); }

            $('#experienceRadioButton').click(function () {
                $('.experience-year-textbox').show();
            });

            $('#fresherRadioButton').click(function () {
                $('.experience-year-textbox').hide();
            });

            if (!$('#Enquiry_EmploymentStatus').is(':checked')) { $('.employment-status-textbox').hide(); }
            else { $('.employment-status-textbox').show(); }

            $('#employedRadioButton').click(function () {
                $('.employment-status-textbox').show();
            });

            $('#unemployedRadioButton').click(function () {
                $('.employment-status-textbox').hide();
            });

            jQuery(".end-date, .termination-date").remove();

            jQuery(".date").daterangepicker({
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                startDate: '@Model.Enquiry.EnquiryDate.Value.ToString("dd/MMMM/yyyy")',
                locale: {
                    format: 'DD MMMM YYYY'
                }
            });
        });

    </script>
}