@model Nidan.Models.BatchPrePlacementViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br />

<div class="form-group">
    @Html.LabelFor(model => model.BatchPrePlacement.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BatchPrePlacement.Name, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BatchPrePlacement.Name, "", new { @class = "help-block" })
    </div>
</div>

@*<div class="form-group">
    @Html.LabelFor(model => model.BatchPrePlacement.CentreId, "Centre", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.CentreId, Model.Centres, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.CentreId, "", new { @class = "help-block" })
    </div>
</div>*@

<div class="form-group">
    @Html.LabelFor(model => model.BatchId, "Batch", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.BatchId, Model.Batches, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BatchId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BatchPrePlacement.ScheduledStartDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BatchPrePlacement.ScheduledStartDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.BatchPrePlacement.ScheduledStartDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BatchPrePlacement.ScheduledEndDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BatchPrePlacement.ScheduledEndDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.BatchPrePlacement.ScheduledEndDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BatchPrePlacement.Remark, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.BatchPrePlacement.Remark, new { @class = "form-control col-md-7 col-xs-12"})
        @Html.ValidationMessageFor(model => model.BatchPrePlacement.Remark, "", new { @class = "help-block" })
    </div>
</div>