@model Nidan.Models.FixAssetViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br />
<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.CentreId, "Centre", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.FixAsset.CentreId, Model.Centres, "Select Centre", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.CentreId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.AssetClassId, "Asset Class", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.FixAsset.AssetClassId, Model.AssetClasses, "Select Asset Class", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.AssetClassId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.ItemId, "Item", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.FixAsset.ItemId, Model.Itemes, "Select Item", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.ItemId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.InvoiceNumber, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.FixAsset.InvoiceNumber, new { @class = "form-control col-md-7 col-xs-12"})
        @Html.ValidationMessageFor(model => model.FixAsset.InvoiceNumber, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.DateofPurchase, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12 dob">
        @Html.TextBoxFor(model => model.FixAsset.DateofPurchase, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.FixAsset.DateofPurchase, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.Cost, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.FixAsset.Cost, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.Cost, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.PurchaseFrom, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.FixAsset.PurchaseFrom, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.PurchaseFrom, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.Quantity, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.FixAsset.Quantity, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.Quantity, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FixAsset.Remark, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.FixAsset.Remark, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.FixAsset.Remark, "", new { @class = "help-block" })
    </div>
</div>
