@model Nidan.Models.FixAssetViewModel
@{
    ViewBag.Title = "CentreFixAsset";
}

<div ng-controller="FixAssetController as model" ng-init="model.retrieveCentreFixAssetsByFixAssetId(@Model.FixAssetId)">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Centre Fix Asset List <small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th><input type="checkbox" id="chkall" /> All</th>
                                        <th ng-click="model.order('FixAsset.Product.Name')" ng-class="model.orderClass('FixAsset.Product.Name')">Asset</th>
                                        <th ng-click="model.order('AssetCode')" ng-class="model.orderClass('AssetCode')">AssetCode</th>
                                        <th ng-click="model.order('RoomId')" ng-class="model.orderClass('RoomId')">Room</th>
                                        <th ng-click="model.order('DateofPutToUse')" ng-class="model.orderClass('DateofPutToUse')">Date of Put To Use</th>
                                        <th ng-click="model.order('Remarks')" ng-class="model.orderClass('Remarks')">Remarks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="centreFixAsset in model.centreFixAssets| orderBy:'CentreFixAssetId'" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                        <td><input type="checkbox" name="chk"/></td>@*ng-disabled="centreFixAsset.RoomId!=null"*@
                                        <td><span ng-bind="centreFixAsset.FixAsset.Product.Name"></span></td>
                                        <td><span ng-bind="centreFixAsset.AssetCode"></span></td>
                                        <td><span ng-bind="centreFixAsset.Room.Description"></span></td>
                                        <td><span ng-bind="centreFixAsset.DateofPutToUse|date : format : shortDate"></span></td>
                                        <td><span ng-bind="centreFixAsset.Remarks"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-10">
                                <button id="btnCentreFixAsset" type="button" class="btn btn-success" ng-click="model.openCentreFixAssetModalPopUp(@Model.FixAssetId)" data-toggle="modal" data-target="#centreFixAssetModal">Assign Asset</button>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_FixAssetModal")
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //$('#chkall').change(function () {
        //    var checkboxes = $(this).closest('table').find(':checkbox');
        //    if ($(this).is(':checked')) {
        //        checkboxes.prop('checked', true);
        //    } else {
        //        checkboxes.prop('checked', false);
        //    }
        //});

        //$('table').on('change', ':checkbox:not(#chkall)', function () {
        //    var checkboxes = $(this).closest('table').find(':checkbox:not(#chkall)'),
        //      allchecked = (checkboxes.length === checkboxes.filter(':checked').length);

        //    $('#chkall').prop('checked', allchecked);
        //});

        $(function () {
            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('#GeneratedDate').val(moment().format('DD MMMM YYYY'));
                $(".generated .date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });
        });

    </script>
}
