@model Nidan.Models.FixAssetViewModel
@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <button type="button" class="btn btn-round btn-info btn-lg"><i class="fa fa-bank"></i> &nbsp;@Model.FixAsset.AssetCode</button><small> View Fix Asset </small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>
                                        <i class="fa fa-bars"></i> Mobilization Details
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox"></ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Asset Name</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.Product.Name" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Purchase Date</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.DateofPurchase.ToShortDateString()" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Supplier</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.Supplier" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Bill Number</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.BillNumber" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Class Room</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.Room.Description" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-dark">Date of Put To Use</button>
                                                </span>
                                                <input type="text" disabled="disabled" value="@Model.FixAsset.DateofPutToUse.ToShortDateString()" class="form-control col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-dark">Remarks</button>
                                        </span>
                                        <input type="text" disabled="disabled" value="@Model.FixAsset.Remarks" class="form-control col-lg-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>

