@model Nidan.Models.OtherFeeViewModel

<div class="form-control-required-example"> = Required</div>
<br />
<br />
<div ng-controller="ProjectController as model">
    <div class="form-group">
        @Html.Label("Project", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" id="@Html.IdFor(model => model.SelectedProjectIdsJson)" name="@Html.NameFor(model => model.SelectedProjectIdsJson)" ng-init="model.selectedProjects = @Model.SelectedProjectIdsJson" value="{{model.selectedProjects}}" />
            <ui-select multiple tagging ng-model="model.selectedProjects" class="form-control" ng-change="model.filterSelected()" style="width: 100%" ng-disabled="model.projects.length <=0">
                <ui-select-match placeholder="Select projects"> <span ng-bind-html="$item.Name"></span></ui-select-match>
                <ui-select-choices repeat="project.ProjectId as project in model.projects | filter:$select.search">
                    <span ng-bind-html="project.Name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.ExpenseHeaderId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.OtherFee.ExpenseHeaderId, Model.ExpenseHeaders, "Select Expense Head", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.ExpenseHeaderId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.CashMemo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.CashMemo, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.CashMemo, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.Unit, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.Unit, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.Unit, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.Rate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.Rate, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.Rate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.Description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.Description, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.Description, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.DebitAmount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.DebitAmount, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.DebitAmount, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.RupeesInWord, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.RupeesInWord, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.OtherFee.RupeesInWord, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.PaidTo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.PaidTo, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.PaidTo, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.Particulars, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.OtherFee.Particulars, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.OtherFee.Particulars, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OtherFee.PaymentModeId, "Payment Mode", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.OtherFee.PaymentModeId, Model.PaymentModes, new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" })
        @Html.ValidationMessageFor(model => model.OtherFee.PaymentModeId, "", new { @class = "help-block" })
    </div>
</div>
