@model Nidan.Models.CourseInstallmentViewModel

@{
    ViewBag.Title = "Create CourseInstallment";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create new CourseInstallment <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.CourseInstallment.CourseInstallmentId)
                    @Html.HiddenFor(model => model.CourseFeeBreakUpId)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.Partial("_CourseInstallment", Model)
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts
{
    <script>
        $('#CourseInstallment_Duration').val("");
        $('#CourseInstallment_Fee').val("");
        $('#CourseInstallment_DownPayment').val("");
        $('#CourseInstallment_LumpsumAmt').val("");
        $('#CourseInstallment_NoOfInstallment').val("");


        $('.fisrt-installment-textbox').hide();
        $('.second-installment-textbox').hide();
        $('.third-installment-textbox').hide();
        $('.forth-installment-textbox').hide();
        $('.fifth-installment-textbox').hide();
        $('.sixth-installment-textbox').hide();
        $('.seventh-installment-textbox').hide();
        $('.eighth-installment-textbox').hide();
        $('.nineth-installment-textbox').hide();
        $('.tenth-installment-textbox').hide();
        $('.eleventh-installment-textbox').hide();
        $('.twelveth-installment-textbox').hide();


        var minutes = 635052; // 635052 = (24*60)*365 + (24*60)*30*2 + (24*60)*14 + (24*60)*2 + 12;
        getDataHR(minutes); // 1 year, 2 months, 2 week, 2 days, 12 minutes

        function getDataHR(newMinutes) {
            MINS_PER_YEAR = 24 * 365 * 60;
            MINS_PER_MONTH = 24 * 30 * 60;
            MINS_PER_WEEK = 24 * 7 * 60;
            MINS_PER_DAY = 24 * 60;
            minutes = newMinutes;
            years = Math.floor(minutes / MINS_PER_YEAR);
            minutes = minutes - years * MINS_PER_YEAR;
            months = Math.floor(minutes / MINS_PER_MONTH);
            minutes = minutes - months * MINS_PER_MONTH;
            weeks = Math.floor(minutes / MINS_PER_WEEK);
            minutes = minutes - weeks * MINS_PER_WEEK;
            days = Math.floor(minutes / MINS_PER_DAY);
            minutes = minutes - days * MINS_PER_DAY;
            return years +
                " year(s) " +
                months +
                " month(s) " +
                weeks +
                " week(s) " +
                days +
                " day(s) " +
                minutes +
                " minute(s)";
        }

        //-----------------------------------------------------------------------------------
        $("#addbutton")
            .click(function() {

                var fee = $("#CourseInstallment_Fee").val();
                var dp = $("#CourseInstallment_DownPayment").val();
                var noofinstallment = $("#CourseInstallment_NoOfInstallment").val();
                
                if (!fee || !dp) return false; // Wait till both values are set
                var answer = fee - dp;
                var value = answer / noofinstallment;
                if (noofinstallment == 1) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').hide();
                    $('.third-installment-textbox').hide();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                }

                if (noofinstallment == 2) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').hide();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                }

                if (noofinstallment == 3) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').hide();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                }

                if (noofinstallment == 4) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').hide();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                }

                if (noofinstallment == 5) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').hide();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                }

                if (noofinstallment == 6) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').hide();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                }

                if (noofinstallment == 7) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').hide();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                }

                if (noofinstallment == 8) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').hide();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                    $("#CourseInstallment_EighthInstallment").val(value);
                }

                if (noofinstallment == 9) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').hide();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                    $("#CourseInstallment_EighthInstallment").val(value);
                    $("#CourseInstallment_NinethInstallment").val(value);
                }

                if (noofinstallment == 10) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').hide();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                    $("#CourseInstallment_EighthInstallment").val(value);
                    $("#CourseInstallment_NinethInstallment").val(value);
                    $("#CourseInstallment_TenthInstallment").val(value);
                }

                if (noofinstallment == 11) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').show();
                    $('.twelveth-installment-textbox').hide();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                    $("#CourseInstallment_EighthInstallment").val(value);
                    $("#CourseInstallment_NinethInstallment").val(value);
                    $("#CourseInstallment_TenthInstallment").val(value);
                    $("#CourseInstallment_EleventhInstallment").val(value);

                }

                if (noofinstallment == 12) {
                    $('.fisrt-installment-textbox').show();
                    $('.second-installment-textbox').show();
                    $('.third-installment-textbox').show();
                    $('.forth-installment-textbox').show();
                    $('.fifth-installment-textbox').show();
                    $('.sixth-installment-textbox').show();
                    $('.seventh-installment-textbox').show();
                    $('.eighth-installment-textbox').show();
                    $('.nineth-installment-textbox').show();
                    $('.tenth-installment-textbox').show();
                    $('.eleventh-installment-textbox').show();
                    $('.twelveth-installment-textbox').show();
                    $("#CourseInstallment_FirstInstallment").val(value);
                    $("#CourseInstallment_SecondInstallment").val(value);
                    $("#CourseInstallment_ThirdInstallment").val(value);
                    $("#CourseInstallment_ForthInstallment").val(value);
                    $("#CourseInstallment_FifthInstallment").val(value);
                    $("#CourseInstallment_SixthInstallment").val(value);
                    $("#CourseInstallment_SeventhInstallment").val(value);
                    $("#CourseInstallment_EighthInstallment").val(value);
                    $("#CourseInstallment_NinethInstallment").val(value);
                    $("#CourseInstallment_TenthInstallment").val(value);
                    $("#CourseInstallment_EleventhInstallment").val(value);
                    $("#CourseInstallment_TwelvethInstallment").val(value);
                }
            });


        //-----------------------------------------------------------------------------------
        var t = false;

        $('#CourseInstallment_NoOfInstallment')
            .focus(function() {
                var $this = $(this);

                t = setInterval(
                    function() {
                        if (($this.val() < 1 || $this.val() > 10) && $this.val().length != 0) {
                            if ($this.val() < 1) {
                                $this.val(1);
                            }

                            if ($this.val() > 12) {
                                $this.val(12);
                            }
                            $('p')
                                .fadeIn(1000,
                                    function() {
                                        $(this).fadeOut(500);
                                    });
                        }
                    },
                    50);
            });

        $('input')
            .blur(function() {
                if (t != false) {
                    window.clearInterval(t);
                    t = false;
                }
            });

        //------------------------------------------------------------------------------------------------------------

        //$(document)
        //    .ready(function() {
        //        $(".calculate")
        //            .bind("keyup change",
        //                function(e) {
        //                    var fee = $("#CourseInstallment_Fee").val();
        //                    var dp = $("#CourseInstallment_DownPayment").val();
        //                    var noofinstallment = $("#CourseInstallment_NoOfInstallment").val();
        //                    if (!fee || !dp) return false; // Wait till both values are set
        //                    var answer = fee - dp;
        //                    var value = answer / noofinstallment;
        //                    $("#CourseInstallment_FirstInstallment").val(value);
        //                });
        //    });

    </script>
}

