@model Nidan.Models.CourseInstallmentViewModel

@{
    ViewBag.Title = string.Format("Edit CourseInstallment ({0})", Model.CourseInstallment);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><b>@Model.CourseInstallment.Name<small>Edit course installment</small></b></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => Model.CourseInstallment.CourseInstallmentId)
                        @Html.HiddenFor(model => Model.CourseInstallment.CreatedDate)
                        @*@Html.Partial("_CourseInstallment", Model)*@

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark">Course Installment</button>
                            </span>
                            <input type="text" disabled="disabled" value="@Model.CourseInstallment.Name" class="form-control col-lg-4">
                        </div>


                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark">Course</button>
                            </span>
                            <input type="text" disabled="disabled" value="@Model.CourseInstallment.Course.Name" class="form-control col-lg-4">
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark">Course Fee</button>
                            </span>
                            <input type="text" disabled="disabled" value="@Model.CourseInstallment.Fee" class="form-control col-lg-4">
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark">Course Down Payment</button>
                            </span>
                            <input type="text" disabled="disabled" value="@Model.CourseInstallment.DownPayment" class="form-control col-lg-4">
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark">Course Lumpsum Amount</button>
                            </span>
                            <input type="text" disabled="disabled" value="@Model.CourseInstallment.LumpsumAmount" class="form-control col-lg-4">
                        </div>


                        @*<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
