@model Nidan.Models.ModuleExamQuestionSetViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br />
<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamSet.QuestionSetName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamSet.QuestionSetName, null, new { @class = "form-control col-md-7 col-xs-12"})
        @Html.ValidationMessageFor(model => model.ModuleExamSet.QuestionSetName, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamSet.SubjectId, "Module", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.ModuleExamSet.SubjectId, Model.Subjects, "Select Subject", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamSet.SubjectId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.QuestionTypeId, "Question Type", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.ModuleExamQuestionSet.QuestionTypeId, Model.QuestionTypes, "Select Question Type", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.QuestionTypeId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.QuestionDescription, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.QuestionDescription, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.QuestionDescription, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.MarkPerQuestion, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.MarkPerQuestion, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.MarkPerQuestion, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.OptionA, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.OptionA, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.OptionA, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.OptionB, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.OptionB, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.OptionB, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.OptionC, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.OptionC, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.OptionC, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModuleExamQuestionSet.OptionD, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ModuleExamQuestionSet.OptionD, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.ModuleExamQuestionSet.OptionD, "", new { @class = "help-block" })
    </div>
</div>
