@model Nidan.Models.ModuleExamQuestionSetViewModel
@{
    ViewBag.Title = "Module Exam Question Set";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => model.ModuleExamSet.SubjectId)
                        @Html.HiddenFor(model => model.ModuleExamSet.ModuleExamSetId)
                        @Html.HiddenFor(model => model.ModuleExamQuestionSet.ModuleExamSetId)
                        @Html.Partial("_ModuleExamQuestionSet", Model)
                        @{
                            var totalmark = @Model.ModuleExamSet.TotalMark;
                            var markper = @Model.ModuleExamSet.ModuleExamQuestionSets.Sum(e => e.MarkPerQuestion);
                            var ans = (totalmark - markper);
                        }
                        @if (!(@markper >= @totalmark))
                        {
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success">Add Question</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ModuleExamQuestionAnswer", Model)
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        $('#ModuleExamQuestionSet_MarkPerQuestion').val(" ");
        $('#div_mcq').hide();
        $('#div_subjective').hide();

        $('#ModuleExamQuestionSet_QuestionTypeId').change(function () {
            var questionTypeId = $('#ModuleExamQuestionSet_QuestionTypeId').val();
            if (questionTypeId == 1) {
                $('#div_mcq').show();
                $('#div_subjective').hide();
            }
            if (questionTypeId == 2) {
                $('#div_mcq').hide();
                $('#div_subjective').show();
            }
        });

    </script>}
