@model Nidan.Models.MobilizationViewModel
<div class="form-control-required-example"> = Required</div>
<br />
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Mobilization.Title, new { @class = "control-label col-md-3 col-sm-4 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12">
                    @Html.DropDownListFor(model => model.Mobilization.Title, Model.TitleList, "Select Title", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mobilization.Title, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Enquiry.FirstName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Mobilization.FirstName,new { @class = "form-control has-feedback-left", @placeholder = "First Name"})
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Mobilization.FirstName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Enquiry.MiddleName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Mobilization.MiddleName, new { @class = "form-control has-feedback-left", @placeholder = "Middle Name" })
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Mobilization.MiddleName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Enquiry.LastName, new { @class = "control-label col-md-4 col-sm-6 col-xs-12" })*@
                <div class="col-md-12 col-sm-8 col-xs-12 name">
                    @Html.TextBoxFor(model => model.Mobilization.LastName, new { @class = "form-control has-feedback-left", @placeholder = "Last Name" })
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    @Html.ValidationMessageFor(model => model.Mobilization.LastName, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.MobilizationTypeId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-4 col-xs-12">
        @Html.DropDownListFor(model => model.Mobilization.MobilizationTypeId, Model.MobilizationTypes, "Select Mobilization Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mobilization.MobilizationTypeId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group eventId">
    @Html.LabelFor(model => model.EventId, "Event",new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.EventId, Model.Events, null, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.Mobile, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Mobilization.Mobile, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "phoneno()", @maxlength = "10" })
        @Html.ValidationMessageFor(model => model.Mobilization.Mobile, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.AlternateMobile, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Mobilization.AlternateMobile, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "phoneno()", @maxlength = "10" })
        @Html.ValidationMessageFor(model => model.Mobilization.AlternateMobile, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.StudentLocation, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Mobilization.StudentLocation, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Mobilization.StudentLocation, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group ">
    @Html.LabelFor(model => model.Mobilization.InterestedCourseId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.Mobilization.InterestedCourseId, Model.Courses, "Select Interested Course", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Mobilization.InterestedCourseId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group interestedCourseId">
    @Html.LabelFor(model => model.Mobilization.OtherInterestedCourse, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Mobilization.OtherInterestedCourse, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Mobilization.OtherInterestedCourse, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.QualificationId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.Mobilization.QualificationId, Model.Qualifications, "Select Qualification", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Mobilization.QualificationId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.GeneratedDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12 dob">
        @Html.TextBoxFor(model => model.Mobilization.GeneratedDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date generated" })
        @Html.ValidationMessageFor(model => model.Mobilization.GeneratedDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Mobilization.Remark, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.EditorFor(model => model.Mobilization.Remark, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.Mobilization.Remark, "", new { @class = "help-block" })
    </div>
</div>
