@model Nidan.Models.BankDepositeViewModel
<div class="form-control-required-example"> = Required</div>

<div class="form-group ">
    @Html.LabelFor(model => model.BankDeposite.ProjectId, "Project", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.BankDeposite.ProjectId, Model.Projects, "Select Project", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ProjectId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.ReceiptNumber, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.ReceiptNumber, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ReceiptNumber, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group ">
    @Html.LabelFor(model => model.BankDeposite.PaymentModeId, "Payment Mode", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.BankDeposite.PaymentModeId, Model.PaymentModes, "Select Payment Mode", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.PaymentModeId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.BankDeposite.BankName, "Bank Name", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.BankName, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.BankName, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.BankDeposite.ChequeNumber, "Cheque Number", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.ChequeNumber, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ChequeNumber, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.BankDeposite.ChequeDate, "Cheque Date", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12 dob">
        @Html.TextBoxFor(model => model.BankDeposite.ChequeDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ChequeDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.CreditAmount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.CreditAmount, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.CreditAmount, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.RupeesInWords, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.RupeesInWords, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
        @Html.ValidationMessageFor(model => model.BankDeposite.RupeesInWords, "", new { @class = "help-block" })
    </div>
</div>


@*<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.ReceiptNumber, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.ReceiptNumber, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ReceiptNumber, "", new { @class = "help-block" })
    </div>
</div>*@

<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.ReceivedFrom, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.ReceivedFrom, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.ReceivedFrom, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BankDeposite.DepositedDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.DepositedDate, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.BankDeposite.DepositedDate, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group bank-details-textbox">
    @Html.LabelFor(model => model.BankDeposite.Remark, "Remark", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.BankDeposite.Remark, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.BankDeposite.Remark, "", new { @class = "help-block" })
    </div>
</div>