@model Nidan.Models.CentrePettyCashViewModel

@{
    ViewBag.Title = "Create Centre Petty Cash";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Centre Petty Cash<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal form-label-left">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.CentrePettyCash.CentreId,"Centre", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.CentrePettyCash.CentreId, Model.Centres, "Select Centre", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.CentrePettyCash.CentreId, "", new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CentrePettyCash.Amount, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.CentrePettyCash.Amount, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.CentrePettyCash.Amount, "", new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CentrePettyCash.Particulars, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.CentrePettyCash.Particulars, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.CentrePettyCash.Particulars, "", new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
        $("#CentrePettyCash_Amount").val("");
    </script>
}
