@model Nidan.Models.CentreViewModel

@{
    ViewBag.Title = "Create Centre";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Centre <small>create Centre and then manage</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (@Html.BeginForm("Create", "Centre"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-label-left">

                <div class="form-control-required-example"> = Required</div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Name, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Name, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Address1, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Address1, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Address1, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Address2, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Address2, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Address2, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Address3, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Address3, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Address3, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Address4, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Address4, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Address4, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(model => model.Centre.StateId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(model => model.Centre.StateId, Model.States, "Select State", new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.StateId, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(model => model.Centre.DistrictId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(model => model.Centre.DistrictId, Model.Districts, "Select District", new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.DistrictId, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(model => model.Centre.TalukaId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(model => model.Centre.TalukaId, Model.Talukas, "Select Taluka", new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.TalukaId, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.PinCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.PinCode, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.PinCode, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.EmailId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.EmailId, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.EmailId, "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.Centre.Telephone, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Centre.Telephone, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(model => model.Centre.Telephone, "", new { @class = "help-block" })
                    </div>
                </div>
                @*<div class="ln_solid"></div>*@
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
        $("#Centre_PinCode").val(""); 
        $("#Centre_Telephone").val("");
    </script>
}