@using Microsoft.Ajax.Utilities
@using Nidan.Extensions
@model Nidan.Models.CentreViewModel

@{
    ViewBag.Title = string.Format("Edit Centre ({0})", Model.Centre.Name);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @Model.Centre.Name <small>Edit Centre</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => Model.Centre.CentreId)
                        @Html.HiddenFor(model => Model.Centre.CentreCode)
                        <div class="item form-group">
                            @Html.LabelFor(model => model.Centre.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.Centre.Name, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Centre.Name, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.Address1, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.Address1, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.Address1, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.Address2, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.Address2, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.Address2, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.Address3, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.Address3, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.Address3, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.Address4, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.Address4, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.Address4, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Centre.StateId, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Centre.StateId, Model.States, "Select State", new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.StateId, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Centre.DistrictId, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Centre.DistrictId, Model.Districts, "Select District", new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.DistrictId, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Centre.TalukaId, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Centre.TalukaId, Model.Talukas, "Select Taluka", new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.TalukaId, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.PinCode, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.PinCode, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.PinCode, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.EmailId, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.EmailId, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.EmailId, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.Centre.Telephone, new { @class = "control-label col-md-2 col-sm-6 col-xs-12" })
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.Centre.Telephone, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Centre.Telephone, "", new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Scheme*@
<div class="row" ng-controller="CentreSchemeController as model" ng-init="model.initialise(@Model.Centre.CentreId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Schemes</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row ng-hide" ng-cloak ng-show="model.centreSchemeError">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="validation-summary-errors row alert alert-error" id="absenceTypeError">
                                <ul>
                                    <li>Assign Atleast One Scheme</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Scheme", new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
                        <input type="hidden" id="centreSchemeCount" ng-value="model.centreSchemeCount" />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuScheme" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-list fa-fw"></span>
                                    @*  <span class="square" ng-style="{'background-color' : '#' + model.ddAbsenceType.Colour.Hex }"></span>*@
                                    <span ng-bind="model.ddScheme.Name"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="scheme in model.ddSchemes">
                                        @*<span class="square" ng-style="{'background-color' : '#' + absenceType.Colour.Hex }"></span>*@
                                        <span><a ng-click="model.changeScheme(scheme)" ng-bind="scheme.Name"></a></span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="model.assignCentreScheme()" ng-disabled="model.assigning">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapperScheme" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('SchemeId')" ng-class="model.orderClass('Name')">Scheme</th>
                                        @*<th ng-click="model.order('Frequency')" ng-class="model.orderClass('Frequency')">Frequency</th>
                                            <th ng-click="model.order('HasEntitlement')" ng-class="model.orderClass('HasEntitlement')">Has Entitlement</th>
                                            <th ng-click="model.order('Entitlement')" ng-class="model.orderClass('Entitlement')">Entitlement</th>
                                            <th ng-click="model.order('MaximumCarryForward')" ng-class="model.orderClass('MaximumCarryForward')">Max Carry Over</th>
                                            <th ng-click="model.order('IsPaid')" ng-class="model.orderClass('IsPaid')">Is Paid</th>
                                            <th ng-click="model.order('IsUnplanned')" ng-class="model.orderClass('IsUnplanned')">UnPlanned</th>*@
                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                        {
                                            <th>Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="centreScheme in model.centreSchemes" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                        @*  <td><span class="square" ng-style="{'background-color' : '#' + absenceTypeEntitlement.AbsenceType.Colour.Hex }"></span><span ng-bind="absenceTypeEntitlement.AbsenceType.Name"></span></td>*@
                                        <td><span ng-bind="centreScheme.Scheme.Name"></span></td>
                                        @*<td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.HasEntitlement"></i></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.Entitlement"></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.MaximumCarryForward"></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsPaid"></i></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsUnplanned"></i></span></td>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true; model.isCentreSchemeAssignToCentre(centreScheme.SchemeId);">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*<li>
                                                                <a ng-click="$event.originalEvent.ngClickHandled = true; model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                                                    Edit
                                                                </a>
                                                            </li>*@
                                                        <li ng-show="model.loadingActions"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw "></i></li>
                                                        <li ng-hide="model.loadingActions">
                                                            <a ng-class="model.unassignCentreSchemeClass(centreScheme)"
                                                               ng-bootbox-confirm="Are you sure, you want to unassign - {{centreScheme.Scheme.Name}}"
                                                               ng-bootbox-confirm-action="model.unassignCentreScheme(centreScheme);"
                                                               ng-bootbox-confirm-action-cancel=""
                                                               ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Unassign
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absencePolicyEntitlementModal" ng-hide="model.ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Edit <span ng-bind="model.absenceType"></span></h2>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="absencePolicyEntitlementErrorSummary" hidden>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="absencePolicyEntitlementModalBody">
                        @*@Html.Partial("_AbsencePolicyEntitlement", Model)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-6">
                                <div class="col-md-3">
                                    <button type="button" ng-click="model.updateAbsencePolicyEntitlement()" id="buttonAbsencePolicyEntitlement" class="btn btn-success">Submit</button>
                                </div>
                                <div class="pull-right col-md-3">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Sector*@
<div class="row" ng-controller="CentreSectorController as model" ng-init="model.initialise(@Model.Centre.CentreId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Sectors</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row ng-hide" ng-cloak ng-show="model.centreSectorError">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="validation-summary-errors row alert alert-error" id="absenceTypeError">
                                <ul>
                                    <li>Assign Atleast One Sector</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Sector", new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
                        <input type="hidden" id="centreSectorCount" ng-value="model.centreSectorCount" />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-list fa-fw"></span>
                                    @*  <span class="square" ng-style="{'background-color' : '#' + model.ddAbsenceType.Colour.Hex }"></span>*@
                                    <span ng-bind="model.ddSector.Name"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="sector in model.ddSectors">
                                        @*<span class="square" ng-style="{'background-color' : '#' + absenceType.Colour.Hex }"></span>*@
                                        <span><a ng-click="model.changeSector(sector)" ng-bind="sector.Name"></a></span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="model.assignCentreSector()" ng-disabled="model.assigning">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapperSector" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('SectorId')" ng-class="model.orderClass('Name')">Sector</th>
                                        @*<th ng-click="model.order('Frequency')" ng-class="model.orderClass('Frequency')">Frequency</th>
                                            <th ng-click="model.order('HasEntitlement')" ng-class="model.orderClass('HasEntitlement')">Has Entitlement</th>
                                            <th ng-click="model.order('Entitlement')" ng-class="model.orderClass('Entitlement')">Entitlement</th>
                                            <th ng-click="model.order('MaximumCarryForward')" ng-class="model.orderClass('MaximumCarryForward')">Max Carry Over</th>
                                            <th ng-click="model.order('IsPaid')" ng-class="model.orderClass('IsPaid')">Is Paid</th>
                                            <th ng-click="model.order('IsUnplanned')" ng-class="model.orderClass('IsUnplanned')">UnPlanned</th>*@
                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                        {
                                            <th>Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="centreSector in model.centreSectors" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                        @*  <td><span class="square" ng-style="{'background-color' : '#' + absenceTypeEntitlement.AbsenceType.Colour.Hex }"></span><span ng-bind="absenceTypeEntitlement.AbsenceType.Name"></span></td>*@
                                        <td><span ng-bind="centreSector.Sector.Name"></span></td>
                                        @*<td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.HasEntitlement"></i></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.Entitlement"></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.MaximumCarryForward"></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsPaid"></i></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsUnplanned"></i></span></td>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true; model.isCentreSectorAssignToCentre(centreSector.SectorId);">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*<li>
                                                                <a ng-click="$event.originalEvent.ngClickHandled = true; model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                                                    Edit
                                                                </a>
                                                            </li>*@
                                                        <li ng-show="model.loadingActions"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw "></i></li>
                                                        <li ng-hide="model.loadingActions">
                                                            <a ng-class="model.unassignCentreSectorClass(centreSector)"
                                                               ng-bootbox-confirm="Are you sure, you want to unassign - {{centreSector.Sector.Name}}"
                                                               ng-bootbox-confirm-action="model.unassignCentreSector(centreSector);"
                                                               ng-bootbox-confirm-action-cancel=""
                                                               ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Unassign
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absencePolicyEntitlementModal" ng-hide="model.ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Edit <span ng-bind="model.absenceType"></span></h2>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="absencePolicyEntitlementErrorSummary" hidden>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="absencePolicyEntitlementModalBody">
                        @*@Html.Partial("_AbsencePolicyEntitlement", Model)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-6">
                                <div class="col-md-3">
                                    <button type="button" ng-click="model.updateAbsencePolicyEntitlement()" id="buttonAbsencePolicyEntitlement" class="btn btn-success">Submit</button>
                                </div>
                                <div class="pull-right col-md-3">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Course*@
<div class="row" ng-controller="CentreCourseController as model" ng-init="model.initialise(@Model.Centre.CentreId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Courses</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row ng-hide" ng-cloak ng-show="model.centreCourseError">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="validation-summary-errors row alert alert-error" id="absenceTypeError">
                                <ul>
                                    <li>Assign Atleast One Course</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Course", new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
                        <input type="hidden" id="centreCourseCount" ng-value="model.centreCourseCount" />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCourse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-list fa-fw"></span>
                                    @*  <span class="square" ng-style="{'background-color' : '#' + model.ddAbsenceType.Colour.Hex }"></span>*@
                                    <span ng-bind="model.ddCourse.Name"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="course in model.ddCourses">
                                        @*<span class="square" ng-style="{'background-color' : '#' + absenceType.Colour.Hex }"></span>*@
                                        <span><a ng-click="model.changeCourse(course)" ng-bind="course.Name"></a></span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="model.assignCentreCourse()" ng-disabled="model.assigning">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapperCourse" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('CourseId')" ng-class="model.orderClass('Name')">Course</th>
                                        @*<th ng-click="model.order('Frequency')" ng-class="model.orderClass('Frequency')">Frequency</th>
                                            <th ng-click="model.order('HasEntitlement')" ng-class="model.orderClass('HasEntitlement')">Has Entitlement</th>
                                            <th ng-click="model.order('Entitlement')" ng-class="model.orderClass('Entitlement')">Entitlement</th>
                                            <th ng-click="model.order('MaximumCarryForward')" ng-class="model.orderClass('MaximumCarryForward')">Max Carry Over</th>
                                            <th ng-click="model.order('IsPaid')" ng-class="model.orderClass('IsPaid')">Is Paid</th>
                                            <th ng-click="model.order('IsUnplanned')" ng-class="model.orderClass('IsUnplanned')">UnPlanned</th>*@
                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                        {
                                            <th>Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="centreCourse in model.centreCourses" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                        @*  <td><span class="square" ng-style="{'background-color' : '#' + absenceTypeEntitlement.AbsenceType.Colour.Hex }"></span><span ng-bind="absenceTypeEntitlement.AbsenceType.Name"></span></td>*@
                                        <td><span ng-bind="centreCourse.Course.Name"></span></td>
                                        @*<td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.HasEntitlement"></i></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.Entitlement"></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.MaximumCarryForward"></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsPaid"></i></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsUnplanned"></i></span></td>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true; model.isCentreCourseAssignToCentre(centreCourse.CourseId);">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*<li>
                                                                <a ng-click="$event.originalEvent.ngClickHandled = true; model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                                                    Edit
                                                                </a>
                                                            </li>*@
                                                        <li ng-show="model.loadingActions"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw "></i></li>
                                                        <li ng-hide="model.loadingActions">
                                                            <a ng-class="model.unassignCentreCourseClass(centreCourse)"
                                                               ng-bootbox-confirm="Are you sure, you want to unassign - {{centreCourse.Course.Name}}"
                                                               ng-bootbox-confirm-action="model.unassignCentreCourse(centreCourse);"
                                                               ng-bootbox-confirm-action-cancel=""
                                                               ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Unassign
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absencePolicyEntitlementModal" ng-hide="model.ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Edit <span ng-bind="model.absenceType"></span></h2>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="absencePolicyEntitlementErrorSummary" hidden>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="absencePolicyEntitlementModalBody">
                        @*@Html.Partial("_AbsencePolicyEntitlement", Model)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-6">
                                <div class="col-md-3">
                                    <button type="button" ng-click="model.updateAbsencePolicyEntitlement()" id="buttonAbsencePolicyEntitlement" class="btn btn-success">Submit</button>
                                </div>
                                <div class="pull-right col-md-3">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CourseInstallment*@
<div class="row" ng-controller="CentreCourseInstallmentController as model" ng-init="model.initialise(@Model.Centre.CentreId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Course Installments</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row ng-hide" ng-cloak ng-show="model.centreCourseInstallmentError">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="validation-summary-errors row alert alert-error" id="absenceTypeError">
                                <ul>
                                    <li>Assign Atleast One Course Installment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Course Installment", new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
                        <input type="hidden" id="centreCourseInstallmentCount" ng-value="model.centreCourseInstallmentCount" />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCourseInstallment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-list fa-fw"></span>
                                    @*  <span class="square" ng-style="{'background-color' : '#' + model.ddAbsenceType.Colour.Hex }"></span>*@
                                    <span ng-bind="model.ddCourseInstallment.Name"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="courseInstallment in model.ddCourseInstallments">
                                        @*<span class="square" ng-style="{'background-color' : '#' + absenceType.Colour.Hex }"></span>*@
                                        <span><a ng-click="model.changeCourseInstallment(courseInstallment)" ng-bind="courseInstallment.Name"></a></span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="model.assignCentreCourseInstallment()" ng-disabled="model.assigning">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapperCourseInstallment" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('CourseInstallmentId')" ng-class="model.orderClass('Name')">Course Installment</th>
                                        @*<th ng-click="model.order('Frequency')" ng-class="model.orderClass('Frequency')">Frequency</th>
                                            <th ng-click="model.order('HasEntitlement')" ng-class="model.orderClass('HasEntitlement')">Has Entitlement</th>
                                            <th ng-click="model.order('Entitlement')" ng-class="model.orderClass('Entitlement')">Entitlement</th>
                                            <th ng-click="model.order('MaximumCarryForward')" ng-class="model.orderClass('MaximumCarryForward')">Max Carry Over</th>
                                            <th ng-click="model.order('IsPaid')" ng-class="model.orderClass('IsPaid')">Is Paid</th>
                                            <th ng-click="model.order('IsUnplanned')" ng-class="model.orderClass('IsUnplanned')">UnPlanned</th>*@
                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                        {
                                            <th>Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="centreCourseInstallment in model.centreCourseInstallments" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                        @*  <td><span class="square" ng-style="{'background-color' : '#' + absenceTypeEntitlement.AbsenceType.Colour.Hex }"></span><span ng-bind="absenceTypeEntitlement.AbsenceType.Name"></span></td>*@
                                        <td><span ng-bind="centreCourseInstallment.CourseInstallment.Name"></span></td>
                                        @*<td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.HasEntitlement"></i></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.Entitlement"></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.MaximumCarryForward"></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsPaid"></i></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsUnplanned"></i></span></td>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true; model.isCentreCourseInstallmentAssignToCentre(centreCourseInstallment.CourseInstallmentId);">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*<li>
                                                                <a ng-click="$event.originalEvent.ngClickHandled = true; model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                                                    Edit
                                                                </a>
                                                            </li>*@
                                                        <li ng-show="model.loadingActions"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw "></i></li>
                                                        <li ng-hide="model.loadingActions">
                                                            <a ng-class="model.unassignCentreCourseInstallmentClass(centreCourseInstallment)"
                                                               ng-bootbox-confirm="Are you sure, you want to unassign - {{centreCourseInstallment.CourseInstallment.Name}}"
                                                               ng-bootbox-confirm-action="model.unassignCentreCourseInstallment(centreCourseInstallment);"
                                                               ng-bootbox-confirm-action-cancel=""
                                                               ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Unassign
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absencePolicyEntitlementModal" ng-hide="model.ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Edit <span ng-bind="model.absenceType"></span></h2>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="absencePolicyEntitlementErrorSummary" hidden>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="absencePolicyEntitlementModalBody">
                        @*@Html.Partial("_AbsencePolicyEntitlement", Model)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-6">
                                <div class="col-md-3">
                                    <button type="button" ng-click="model.updateAbsencePolicyEntitlement()" id="buttonAbsencePolicyEntitlement" class="btn btn-success">Submit</button>
                                </div>
                                <div class="pull-right col-md-3">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>
@section scripts {
    <script>
        //Submit Button Blur after Click
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });
        $('#courseDropdown').change(function () {
            var courseId = $('#courseDropdown').val();
            $.ajax({
                url: '/Centre/GetCourseInstallment',
                type: 'POST',
                data: JSON.stringify({ courseId: courseId }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#courseInstallmentDropdown").empty();
                    $.each(result, function (key, value) {
                        $("#courseInstallmentDropdown").append($("<option></option>").val(value.CourseInstallmentId).html(value.Name));
                    });
                },
                async: true,
                processData: false
            });
        });
    </script>
}
