@using Nidan.Extensions
@model Nidan.Models.ActivityAssigneeGroupViewModel

@{
    ViewBag.Title = string.Format("Edit Activity Assignee Group ({0})", Model.ActivityAssigneeGroup.Name);
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@Model.ActivityAssigneeGroup.Name<small> Edit Activity Assignee Group</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>

                        }
                        @Html.HiddenFor(model => Model.ActivityAssigneeGroup.ActivityAssigneeGroupId)
                        @Html.Partial("_ActivityAssigneeGroup", Model)

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*Personnel*@
<div class="row" ng-controller="ActivityAssignPersonnelController as model" ng-init="model.initialise(@Model.ActivityAssigneeGroup.CentreId,@Model.ActivityAssigneeGroup.ActivityAssigneeGroupId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Assign Personnel</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row ng-hide" ng-cloak ng-show="model.activityAssignPersonnelError">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="validation-summary-errors row alert alert-error" id="absenceTypeError">
                                <ul>
                                    <li>Assign Atleast One Personnel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Personnel", new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
                        <input type="hidden" id="activityAssignPersonnelCount" ng-value="model.activityAssignPersonnelCount" />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuPersonnel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-list fa-fw"></span>
                                    @*  <span class="square" ng-style="{'background-color' : '#' + model.ddAbsenceType.Colour.Hex }"></span>*@
                                    <span ng-bind="model.ddPersonnel.Fullname"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="personnel in model.ddPersonnels">
                                        @*<span class="square" ng-style="{'background-color' : '#' + absenceType.Colour.Hex }"></span>*@
                                        <span><a ng-click="model.changePersonnel(personnel)" ng-bind="personnel.Fullname"></a></span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="model.assignActivityAssignPersonnel()" ng-disabled="model.assigning">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapperPersonnel" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('ActivityAssigneeGroupId')" ng-class="model.orderClass('Name')">Activity Assignee Department</th>
                                        <th ng-click="model.order('PersonnelId')" ng-class="model.orderClass('Name')">Assignees</th>
                                        @*<th ng-click="model.order('Frequency')" ng-class="model.orderClass('Frequency')">Frequency</th>
                                            <th ng-click="model.order('HasEntitlement')" ng-class="model.orderClass('HasEntitlement')">Has Entitlement</th>
                                            <th ng-click="model.order('Entitlement')" ng-class="model.orderClass('Entitlement')">Entitlement</th>
                                            <th ng-click="model.order('MaximumCarryForward')" ng-class="model.orderClass('MaximumCarryForward')">Max Carry Over</th>
                                            <th ng-click="model.order('IsPaid')" ng-class="model.orderClass('IsPaid')">Is Paid</th>
                                            <th ng-click="model.order('IsUnplanned')" ng-class="model.orderClass('IsUnplanned')">UnPlanned</th>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <th>Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activityAssignPersonnel in model.activityAssignPersonnels" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                        @*  <td><span class="square" ng-style="{'background-color' : '#' + absenceTypeEntitlement.AbsenceType.Colour.Hex }"></span><span ng-bind="absenceTypeEntitlement.AbsenceType.Name"></span></td>*@
                                        <td><span ng-bind="activityAssignPersonnel.ActivityAssigneeGroup.Name"></span></td>
                                        <td><span ng-bind="activityAssignPersonnel.Personnel.Fullname"></span></td>
                                        @*<td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.HasEntitlement"></i></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.Entitlement"></span></td>
                                            <td><span ng-bind="absenceTypeEntitlement.MaximumCarryForward"></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsPaid"></i></span></td>
                                            <td><span><i class="fa fa-check fa-fw" ng-show="absenceTypeEntitlement.IsUnplanned"></i></span></td>*@
                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                        {
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true; model.isActivityAssignPersonnelAssignToActivityAssigneeGroup(activityAssignPersonnel.PersonnelId);">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*<li>
                                                                <a ng-click="$event.originalEvent.ngClickHandled = true; model.openAbsencePolicyEntitlementForm(absenceTypeEntitlement.AbsencePolicyEntitlementId,absenceTypeEntitlement.AbsenceType.Name)">
                                                                    Edit
                                                                </a>
                                                            </li>*@
                                                        <li ng-show="model.loadingActions"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw "></i></li>
                                                        <li ng-hide="model.loadingActions">
                                                            <a ng-class="model.unassignActivityAssignPersonnelClass(activityAssignPersonnel)"
                                                               ng-bootbox-confirm="Are you sure, you want to unassign - {{activityAssignPersonnel.Personnel.Fullname}}"
                                                               ng-bootbox-confirm-action="model.unassignActivityAssignPersonnel(activityAssignPersonnel);"
                                                               ng-bootbox-confirm-action-cancel=""
                                                               ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Unassign
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="absencePolicyEntitlementModal" ng-hide="model.ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Edit <span ng-bind="model.absenceType"></span></h2>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="absencePolicyEntitlementErrorSummary" hidden>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="validation-summary-errors row alert alert-error" data-valmsg-summary="false">
                                    <ul class="errors">
                                        <li ng-repeat="error in model.Errors"><span ng-bind="error"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="absencePolicyEntitlementModalBody">
                        @*@Html.Partial("_AbsencePolicyEntitlement", Model)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="form-group">
                            <div class="pull-right col-md-6">
                                <div class="col-md-3">
                                    <button type="button" ng-click="model.updateAbsencePolicyEntitlement()" id="buttonAbsencePolicyEntitlement" class="btn btn-success">Submit</button>
                                </div>
                                <div class="pull-right col-md-3">
                                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>