@model Nidan.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="">
    <div class="row top_tiles">
        @*<a href='@Url.Action("Index","FollowUp")'>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        <div class="count">@Model.FollowUpCount</div>
                        <h3>Follow Ups</h3>
                        <p>follow up for Enquiry and Mobilization</p>
                    </div>
                </div>
            </a>*@
        @*<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-tachometer"></i>
                    </div>
                    <div class="count">3</div>
                    <h3>Bradford Factor</h3>
                    <p>Warnings.</p>
                </div>
            </div>*@
        <a href='@Url.Action("Index","FollowUp",new {followUpType="Enquiry"})'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.EnquiryCount</div>
                    <h3>Enquiry</h3>
                    <p>follow up for Enquiry</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","FollowUp",new {followUpType="Counselling"})'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.CounsellingCount</div>
                    <h3>Counselling</h3>
                    <p>follow up for Counselling</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","Enquiry")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="count">@Model.TotalEnquiryCount</div>
                    <h3>Total Enquiries</h3>
                    <p>Total Number Of Enquiries</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","Mobilization")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="count">@Model.TotalMobilizationCount</div>
                    <h3>Total Mobilizations</h3>
                    <p>Total Number Of Mobilized Candidates</p>
                </div>
            </div>
        </a>
        <div ng-controller="HomeController as model">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*<div class="x_panel">
                    <div class="x_title">
                        <h2>Absence Planner <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>*@
        </div>
    </div>
    <!-- pie chart -->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mobilization<small>Till date</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                Select Centre
                                <span class="caret"></span>
                            </a>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Something else here</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content2">
                    <div id="graph_donut" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
        <!-- bar charts group -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Bar Chart Group <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li role="presentation" class="dropdown">
                            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                Select Centre
                                <span class="caret"></span>
                            </a>
                            <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Something else here</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content1">
                    <div id="graph_bar_group" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- /bar charts group -->

    </div>