@model Nidan.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}


    <div class="row top_tiles">
        <a href='@Url.Action("Index","FollowUp",new {followUpType="Enquiry"})'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.EnquiryCount</div>
                    <h3>Enquiry</h3>
                    <p>follow up for Enquiry</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","FollowUp",new {followUpType="Counselling"})'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.CounsellingCount</div>
                    <h3>Counselling</h3>
                    <p>follow up for Counselling</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","Enquiry")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="count">@Model.TotalEnquiryCount</div>
                    <h3>Total Enquiries</h3>
                    <p>Total Number Of Enquiries</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","Mobilization")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="count">@Model.TotalMobilizationCount</div>
                    <h3>Total Mobilizations</h3>
                    <p>Total Number Of Mobilized Candidates</p>
                </div>
            </div>
        </a>
    </div>
    <!-- pie chart -->
    <div class="row">
        <div ng-controller="HomeController as model">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Mobilization<small>Till date</small>  <small><b>Select Centre</b></small></h2>
                        <div id="pie" class="form-group">
                            <div class="row">
                                @*<label id="labelPaymentMode" class="control-label col-md-3 col-sm-3 col-xs-12">Payment Mode</label>*@
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <select id="pieCentres" ng-model="model.centreId" class="form-control col-md-7 col-xs-12" ng-change="model.change(model.centreId)">
                                        <option data-ng-repeat="t in model.centres" ng-model="model.centreId" value="{{t.CentreId}}">{{t.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content2">
                        <div id="graph_donut" style="width:100%; height:300px;"></div>
                    </div>
                </div>
            </div>
            <!-- bar charts group -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bar Chart Group <small>Sessions</small>  <small><b>Select Centre</b></small></h2>
                        <div id="bar" class="form-group">
                            <div class="row">
                                @*<label id="labelPaymentMode" class="control-label col-md-3 col-sm-3 col-xs-12">Select Centre</label>*@
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <select id="barCentres" ng-model="model.centreId" class="form-control col-md-7 col-xs-12" ng-change="model.change(model.centreId)">
                                        <option data-ng-repeat="t in model.centres" ng-model="model.centreId" value="{{t.CentreId}}">{{t.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content1">
                        <div id="graph_bar_group" style="width:100%; height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
