@model Nidan.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="">
    <div class="row top_tiles">
        @*<a href='@Url.Action("Index","FollowUp")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.FollowUpCount</div>
                    <h3>Follow Ups</h3>
                    <p>follow up for Enquiry and Mobilization</p>
                </div>
            </div>
        </a>*@
        @*<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-tachometer"></i>
                </div>
                <div class="count">3</div>
                <h3>Bradford Factor</h3>
                <p>Warnings.</p>
            </div>
        </div>*@
        <a href='@Url.Action("Index","Enquiry")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.EnquiryCount</div>
                    <h3>Enquiry</h3>
                    <p>follow up for Enquiry</p>
                </div>
            </div>
        </a>
        <a href='@Url.Action("Index","Counselling")'>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="count">@Model.CounsellingCount</div>
                    <h3>Counselling</h3>
                    <p>follow up for Counselling</p>
                </div>
            </div>
        </a>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-square-o"></i>
                </div>
                <div class="count">1</div>
                <h3>Required</h3>
                <p>Return to work form required.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o"></i>
                </div>
                <div class="count">2</div>
                <h3>Completed</h3>
                <p>Return to work completed.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Absence Planner <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
        
            </div>
        </div>
    </div>
</div>